@import '../../Styles/modules';

/*
   Panels
   -----------------------------------------------------------------------------
*/

.cf-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: $cf-radius;
  position: relative;
}

.cf-panel--title {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.015em;
  margin: 0;
  line-height: 1em;
  @extend %no-user-select;
}

.cf-panel--controls {
  display: flex;
  align-items: center;
}

.cf-panel--body {
  width: 100%;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .cf-panel--header + & {
    padding-top: 0;
  }
}

.cf-panel--footer {
  width: 100%;
  border-radius: 0 0 $cf-radius $cf-radius;
  background-color: rgba($g0-obsidian, 0.1);
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin panelHeaderSizeModifier($padding) {
  padding: $padding * 2;
}

.cf-panel--header__xs {
  @include panelHeaderSizeModifier($form-xs-padding);
}
.cf-panel--header__sm {
  @include panelHeaderSizeModifier($form-sm-padding);
}
.cf-panel--header__md {
  @include panelHeaderSizeModifier($form-md-padding);
}
.cf-panel--header__lg {
  @include panelHeaderSizeModifier($form-lg-padding);
}

@mixin panelBodySizeModifier($padding, $fontSize) {
  font-size: $fontSize;
  padding: $padding * 2;
}

.cf-panel--body__xs {
  @include panelBodySizeModifier($form-xs-padding, $form-xs-font);
}
.cf-panel--body__sm {
  @include panelBodySizeModifier($form-sm-padding, $form-sm-font);
}
.cf-panel--body__md {
  @include panelBodySizeModifier($form-md-padding, $form-md-font);
}
.cf-panel--body__lg {
  @include panelBodySizeModifier($form-lg-padding, $form-lg-font);
}

@mixin panelFooterSizeModifier($padding, $fontSize) {
  padding: $padding ($padding * 2);
  font-size: ceil($fontSize * 0.75);
}

.cf-panel--footer__xs {
  @include panelFooterSizeModifier($form-xs-padding, $form-xs-font);
}
.cf-panel--footer__sm {
  @include panelFooterSizeModifier($form-sm-padding, $form-sm-font);
}
.cf-panel--footer__md {
  @include panelFooterSizeModifier($form-md-padding, $form-md-font);
}
.cf-panel--footer__lg {
  @include panelFooterSizeModifier($form-lg-padding, $form-lg-font);
}

@mixin panelTitleSizeModifier($fontWeight, $fontSize) {
  font-weight: $fontWeight;
  font-size: $fontSize * 1.5;
}

.cf-panel--title__xs {
  @include panelTitleSizeModifier($form-xs-padding, $form-xs-font);
}
.cf-panel--title__sm {
  @include panelTitleSizeModifier($form-sm-padding, $form-sm-font);
}
.cf-panel--title__md {
  @include panelTitleSizeModifier($form-md-padding, $form-md-font);
}
.cf-panel--title__lg {
  @include panelTitleSizeModifier($form-lg-padding, $form-lg-font);
}

/*
  Contrast Text Modifiers
  ------------------------------------------------------------------------------
*/

.cf-panel__dark-text {
  .cf-panel--title,
  .cf-panel--body,
  .cf-panel--footer {
    color: rgba($g2-kevlar, 0.75);
  }
}

.cf-panel__light-text {
  .cf-panel--title,
  .cf-panel--body,
  .cf-panel--footer {
    color: rgba($g20-white, 0.75);
  }
}

/*
  Horizontal Rules directly inside Panels
  ------------------------------------------------------------------------------
*/

.cf-panel--body hr {
  margin: $cf-marg-c 0;
}
