@import '../../../Styles/variables';

.cf-banner-panel {
 width: 100%;
}

.cf-banner-panel--has-icon {
  .cf-banner-panel--body {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
  }

  .cf-banner-panel--icon {
    margin-right: $cf-marg-c;
    font-size: $cf-form-md-font * 2;
  }
}

.cf-banner-panel--contents {
 flex-grow: 1;
}

.cf-banner-panel__hide-icon {
  .cf-banner-panel--icon {
    display: none;
  }
}

@media screen and (min-width: $cf-nav-menu--breakpoint) {
  .cf-banner-panel__hide-icon {
    .cf-banner-panel--icon {
      display: inline-block;
    }
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/

@mixin bannerIconSizeModifier($margin, $fontSize) {
  font-size: $fontSize;

  .cf-banner-panel--icon {
    font-size: $fontSize * 2;
    margin-right: $margin * 2;
  }
}

.cf-banner-panel {
  .cf-panel--body__xs {
    @include bannerIconSizeModifier($cf-form-xs-padding, $cf-form-xs-font);
  }

  .cf-panel--body__sm {
    @include bannerIconSizeModifier($cf-form-sm-padding, $cf-form-sm-font);
  }

  .cf-panel--body__md {
    @include bannerIconSizeModifier($cf-form-md-padding, $cf-form-md-font);
  }

  .cf-panel--body__lg {
    @include bannerIconSizeModifier($cf-form-lg-padding, $cf-form-lg-font);
  }
}