@import '../../../Styles/modules';

/*
   Numbered Panels
   -----------------------------------------------------------------------------
*/

$numbered-panel-gutter-small: $cf-marg-d;
$numbered-panel-gutter: $cf-marg-e;

.cf-numbered-panel {
  padding-left: $numbered-panel-gutter-small;
  padding-right: $numbered-panel-gutter-small;

  @media screen and (min-width: 1080px) {
    padding-left: $numbered-panel-gutter;
    padding-right: $numbered-panel-gutter;
  }
}

.cf-numbered-panel--indicator {
  user-select: none;
  position: absolute;
  border-radius: 50%;
  background-color: rgba($g0-obsidian, 0.25);
  font-weight: 900;
  text-align: center;
  transform: translate(0, -50%);
  color: $c-honeydew;
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/

@mixin numberedPanelIndicatorSizeModifier($fontSize, $diameter) {
  font-size: $fontSize * 1.2;
  width: $diameter * 0.75;
  height: $diameter * 0.75;
  line-height: $diameter * 0.75;
  top: 50%;
  left: ($numbered-panel-gutter-small / 2) * -1;

  @media screen and (min-width: 1080px) {
    left: ($numbered-panel-gutter / 2) * -1;
    width: $diameter;
    height: $diameter;
    line-height: $diameter;
  }
}

.cf-numbered-panel--indicator__xs {
  @include numberedPanelIndicatorSizeModifier($form-xs-font, $form-xs-height);
}
.cf-numbered-panel--indicator__sm {
  @include numberedPanelIndicatorSizeModifier($form-sm-font, $form-sm-height);
}
.cf-numbered-panel--indicator__md {
  @include numberedPanelIndicatorSizeModifier($form-md-font, $form-md-height);
}
.cf-numbered-panel--indicator__lg {
  @include numberedPanelIndicatorSizeModifier($form-lg-font, $form-lg-height);
}
