@import "../../Styles/modules.scss";

/*
  Radio Component
  ------------------------------------------------------------------------------
*/

$radio-buttons--padding: $cf-marg-a;

.cf-radio-buttons {
  display: inline-flex;
  align-items: stretch;
  padding: $radio-buttons--padding;
  border-radius: $cf-radius;
  background-color: $g5-pepper;
}

.cf-radio-button {
  @include no-user-select();
  border: 0;
  font-family: $cf-text-font;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.25s ease, color 0.25s ease;
  color: $g11-sidewalk;
  text-transform: capitalize;
  border-radius: $cf-radius-sm;
  outline: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    color: $g15-platinum;
    cursor: pointer;
  }

  &.active {
    color: $g20-white;
  }

  &.disabled,
  &.disabled:hover {
    font-style: italic;
    color: $g7-graphite;
  }
}

/*
  Size Modifiers 
  ------------------------------------------------------------------------------
*/
@mixin radioButtonSizeModifier($fontSize, $padding, $height) {
  height: $height;

  .cf-radio-button {
    height: $height - ($radio-buttons--padding * 2);
    line-height: $height - ($radio-buttons--padding * 2);
    padding: 0 $padding;
    font-size: $fontSize;
  }
}

.cf-radio-buttons--xs {
  @include radioButtonSizeModifier($form-xs-font, $form-xs-padding, $form-xs-height);
}
.cf-radio-buttons--sm {
  @include radioButtonSizeModifier($form-sm-font, $form-sm-padding, $form-sm-height);
}
.cf-radio-buttons--md {
  @include radioButtonSizeModifier($form-md-font, $form-md-padding, $form-md-height);
}
.cf-radio-buttons--lg {
  @include radioButtonSizeModifier($form-lg-font, $form-lg-padding, $form-lg-height);
}


/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/
.cf-radio-buttons--default {
  .cf-radio-button.active {
    background-color: $g7-graphite;
  }
}
.cf-radio-buttons--primary {
  .cf-radio-button.active {
    background-color: $c-pool;
  }
}
.cf-radio-buttons--secondary {
  .cf-radio-button.active {
    background-color: $c-star;
  }
}
.cf-radio-buttons--success {
  .cf-radio-button.active {
    background-color: $c-rainforest;
  }
}
.cf-radio-buttons--danger {
  .cf-radio-button.active {
    background-color: $c-curacao;
  }
}
.cf-radio-buttons--warning {
  .cf-radio-button.active {
    background-color: $c-pineapple;
  }
}

/*
  Shape Modifiers
  ------------------------------------------------------------------------------
*/
.cf-radio-buttons.cf-radio-buttons--square {
  &.cf-radio-buttons--xs .cf-radio-button {
    width: $form-xs-height;
  }
  
  &.cf-radio-buttons--sm .cf-radio-button {
    width: $form-sm-height;
  }
  
  &.cf-radio-buttons--md .cf-radio-button {
    width: $form-md-height;
  }

  &.cf-radio-buttons--lg .cf-radio-button {
    width: $form-lg-height;
  }

  .cf-radio-button {
    padding: 0;
  }
}

.cf-radio-buttons.cf-radio-buttons--stretch {
  width: 100%;

  .cf-radio-button {
    flex: 1 0 0;
  }
}
