@import "../../Styles/modules.scss";

/*
  Radio Component
  ------------------------------------------------------------------------------
*/

$radio-buttons--padding: $cf-marg-a;

.cf-radio-buttons {
  display: inline-flex;
  align-items: stretch;
  padding: $radio-buttons--padding;
  border-radius: $cf-radius;
  background-color: $g5-pepper;

  // Visually obscures underlying input
  & > input[type="radio"],
  & > input[type="checkbox"] {
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
  }
}

.cf-radio-button {
  @include no-user-select();
  border: 0;
  font-family: $cf-text-font;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  color: $g11-sidewalk;
  text-transform: capitalize;
  border-radius: $cf-radius-sm;
  outline: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: $cf-border;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $g6-smoke;
    color: $g18-cloud;
    cursor: pointer;
  }

  &:focus {
    box-shadow: $cf-input--box-shadow;

      &:active {
      box-shadow: none;
    }
  }

  &.cf-radio-button__active {
    color: $g20-white;
  }

  &.cf-radio-button__disabled,
  &.cf-radio-button__disabled:hover,
  &.cf-radio-button__disabled:focus {
    box-shadow: none;
    background-color: transparent;
    font-style: italic;
    color: $g7-graphite;
    cursor: default;
  }
}

/*
  Size Modifiers 
  ------------------------------------------------------------------------------
*/

@mixin radioButtonSizeModifier($fontSize, $padding, $height) {
  height: $height;

  .cf-radio-button {
    height: $height - ($radio-buttons--padding * 2);
    line-height: $height - ($radio-buttons--padding * 2);
    padding: 0 $padding;
    font-size: $fontSize;
  }

  // Square Buttons
  &.cf-radio-buttons__square .cf-radio-button {
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: $height - ($radio-buttons--padding * 2);
  }
}

.cf-radio-buttons__xs {
  @include radioButtonSizeModifier($form-xs-font, $form-xs-padding, $form-xs-height);
}
.cf-radio-buttons__sm {
  @include radioButtonSizeModifier($form-sm-font, $form-sm-padding, $form-sm-height);
}
.cf-radio-buttons__md {
  @include radioButtonSizeModifier($form-md-font, $form-md-padding, $form-md-height);
}
.cf-radio-buttons__lg {
  @include radioButtonSizeModifier($form-lg-font, $form-lg-padding, $form-lg-height);
}


/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/

@mixin radioButtonColorModifier($background, $text) {
  .cf-radio-button.cf-radio-button__active {
    color: $g20-white;
    background-color: $background;

    &.cf-radio-button__disabled {
      color: mix($g20-white, mix($background, $g5-pepper, 50%), 50%);
      background-color: mix($background, $g5-pepper, 50%);
    }
  }
}

.cf-radio-buttons__default {
  @include radioButtonColorModifier($g7-graphite, $g20-white);
}
.cf-radio-buttons__primary {
  @include radioButtonColorModifier($c-pool, $g20-white);
}
.cf-radio-buttons__secondary {
  @include radioButtonColorModifier($c-star, $g20-white);
}
.cf-radio-buttons__success {
  @include radioButtonColorModifier($c-rainforest, $g20-white);
}
.cf-radio-buttons__danger {
  @include radioButtonColorModifier($c-curacao, $g20-white);
}
.cf-radio-buttons__warning {
  @include radioButtonColorModifier($c-pineapple, $g2-kevlar);
}

/*
  Shape Modifiers
  ------------------------------------------------------------------------------
*/

.cf-radio-buttons.cf-radio-buttons__stretch {
  width: 100%;

  .cf-radio-button {
    flex: 1 0 0;
  }
}
