.menu-dropdown-typeahead-item {
  width: 100%;
  padding-left: 14px;
  padding-right: 20px !important;
}

.menu-dropdown-typeahead-input {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
}
