@import '../../../Styles/variables';

/*
  Password Input Styles
  ------------------------------------------------------------------------------
*/

.cf-visibility-input--icon {
  background: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  opacity: 0.4;
  transition: opacity 0.25s ease;
  position: absolute;
  transform: translateX(-100%);
  z-index: 3;

  &:after {
    content: none;
  }

  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:visited,
  &:disabled,
  &:disabled:hover {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active,
  &:active:hover {
    opacity: 1;
  }

  &:disabled:hover {
    opacity: 0.4;
  }
}

@mixin visibilityButtonSizeModifier($height) {
  .cf-input-field {
    padding-right: $height * 1.3;
  }

  .cf-status-indicator {
    transform: translateX(-$height * 0.7);
  }
}

.cf-visibility-input {
  .cf-input-xs {
    @include visibilityButtonSizeModifier($cf-form-xs-height);
  }
  .cf-input-sm {
    @include visibilityButtonSizeModifier($cf-form-sm-height);
  }
  .cf-input-md {
    @include visibilityButtonSizeModifier($cf-form-md-height);
  }
  .cf-input-lg {
    @include visibilityButtonSizeModifier($cf-form-lg-height);
  }
}
