@import '../../Styles/variables.scss';

/*
  Slide Toggle Component
  ------------------------------------------------------------------------------
*/

$slide-toggle--gap: 3px;

.cf-slide-toggle {
  position: relative;
  display: inline-block;
  transition: background-color $cf-transition-default,
    border-color $cf-transition-default;
  background-color: $g5-pepper;

  &:hover {
    cursor: pointer;
    background-color: $g7-graphite;
  }
}

.cf-slide-toggle--knob {
  position: absolute;
  top: 50%;
  transition: background-color $cf-transition-default,
    transform $cf-transition-default;
  transform: translate(0, -50%);
  border-radius: 50%;
  box-shadow: 0 0 $slide-toggle--gap ($slide-toggle--gap / 2)
    rgba($g0-obsidian, 0.25);
  background-color: $g13-mist;
  left: 10%;

  .cf-slide-toggle:hover & {
    background-color: $g20-white;
  }
}

/*
  Active State
  ------------------------------------------------------------------------------
*/
.cf-slide-toggle.active .cf-slide-toggle--knob {
  transform: translate(100%, -50%);
  background-color: $g20-white;
}

/*
  Disabled State
  ------------------------------------------------------------------------------
*/
.cf-slide-toggle.disabled,
.cf-slide-toggle.disabled:hover {
  cursor: default;
  background-color: $g5-pepper;

  .cf-slide-toggle--knob {
    background-color: $g2-kevlar;
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin slideToggleSizeModifier($size) {
  height: $size;
  border-radius: $size / 2;
  padding: 0 $slide-toggle--gap;
  width: ($size * 1.5);
  flex: 0 0 ($size * 1.5);

  .cf-slide-toggle--knob,
  .cf-slide-toggle--knob:before,
  .cf-slide-toggle--knob:after {
    width: $size * 0.6;
    height: $size * 0.6;
  }
}

.cf-slide-toggle {
  &.cf-slide-toggle-xs {
    @include slideToggleSizeModifier(20px);
  }
  &.cf-slide-toggle-sm {
    @include slideToggleSizeModifier(20px);
  }
  &.cf-slide-toggle-md {
    @include slideToggleSizeModifier(24px);
  }
  &.cf-slide-toggle-lg {
    @include slideToggleSizeModifier(32px);
  }
}

/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/
@mixin slideToggleColorModifier($background, $backgroundHover) {
  &.active {
    background-color: $background;
  }
  &.active:hover {
    background-color: $backgroundHover;
  }
  &.active.disabled,
  &.active.disabled:hover {
    background-color: mix($background, $g6-smoke, 30%);
  }
}

.cf-slide-toggle {
  &.cf-slide-toggle-default {
    @include slideToggleColorModifier($g10-wolf, $g12-forge);
  }
  &.cf-slide-toggle-primary.active {
    @include slideToggleColorModifier($c-pool, $c-laser);
  }
  &.cf-slide-toggle-secondary.active {
    @include slideToggleColorModifier($c-star, $c-comet);
  }
  &.cf-slide-toggle-success.active {
    @include slideToggleColorModifier($c-rainforest, $c-honeydew);
  }
  &.cf-slide-toggle-danger.active {
    @include slideToggleColorModifier($c-curacao, $c-dreamsicle);
  }
  &.cf-slide-toggle-warning.active {
    @include slideToggleColorModifier($c-pineapple, $c-thunder);
  }
}
