@import '../../Styles/variables.scss';

/*
  Slide Toggle Component
  ------------------------------------------------------------------------------
*/

$slide-toggle--gap: $cf-border * 2;

.cf-slide-toggle {
  position: relative;
  display: inline-block;
  transition: background-color 0.25s ease, border-color 0.25s ease;
  background-color: $g5-pepper;

  &:hover {
    cursor: pointer;
    background-color: $g7-graphite;
  }
}

.cf-slide-toggle--knob {
  position: absolute;
  top: 50%;
  transition: background-color 0.35s ease,
    transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate(0, -50%);
  border-radius: 50%;
  box-shadow: 0 0 $slide-toggle--gap ($slide-toggle--gap / 2) rgba($g0-obsidian, 0.25);
  background-color: $g13-mist;
    
  .cf-slide-toggle:hover & {
    background-color: $g20-white;
  }
}

/*
  Active State
  ------------------------------------------------------------------------------
*/
.cf-slide-toggle.active .cf-slide-toggle--knob {
  transform: translate(calc(100% + #{$slide-toggle--gap}), -50%);
  background-color: $g20-white;
}

/*
  Disabled State
  ------------------------------------------------------------------------------
*/
.cf-slide-toggle.disabled,
.cf-slide-toggle.disabled:hover {
  cursor: default;
  background-color: $g5-pepper;

  .cf-slide-toggle--knob {
    background-color: $g2-kevlar;
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin slideToggleSizeModifier($size) {
  height: floor($size * 0.75);
  border-radius: $size / 2;
  padding: 0 $slide-toggle--gap;
  width: (floor($size * 0.75) * 2) - $slide-toggle--gap;
  flex: 0 0 (floor($size * 0.75) * 2) - $slide-toggle--gap;


  .cf-slide-toggle--knob,
  .cf-slide-toggle--knob:before,
  .cf-slide-toggle--knob:after {
    width: floor($size * 0.75) - ($slide-toggle--gap * 2);
    height: floor($size * 0.75) - ($slide-toggle--gap * 2);
  }
}

.cf-slide-toggle {
  &.cf-slide-toggle-xs {
    @include slideToggleSizeModifier($cf-form-xs-height);
  }
  &.cf-slide-toggle-sm {
    @include slideToggleSizeModifier($cf-form-sm-height);
  }
  &.cf-slide-toggle-md {
    @include slideToggleSizeModifier($cf-form-md-height);
  }
  &.cf-slide-toggle-lg {
    @include slideToggleSizeModifier($cf-form-lg-height);
  }
}

/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/
@mixin slideToggleColorModifier($background, $backgroundHover) {
  &.active {
    background-color: $background;
  }
  &.active:hover {
    background-color: $backgroundHover;
  }
  &.active.disabled,
  &.active.disabled:hover {
    background-color: mix($background, $g6-smoke, 30%);
  }
}

.cf-slide-toggle {
  &.cf-slide-toggle-default {
    @include slideToggleColorModifier($g10-wolf, $g12-forge);
  }
  &.cf-slide-toggle-primary.active {
    @include slideToggleColorModifier($c-pool, $c-laser);
  }
  &.cf-slide-toggle-secondary.active {
    @include slideToggleColorModifier($c-star, $c-comet);
  }
  &.cf-slide-toggle-success.active {
    @include slideToggleColorModifier($c-rainforest, $c-honeydew);
  }
  &.cf-slide-toggle-danger.active {
    @include slideToggleColorModifier($c-curacao, $c-dreamsicle);
  }
  &.cf-slide-toggle-warning.active {
    @include slideToggleColorModifier($c-pineapple, $c-thunder);
  }
}
