@import '../../Styles/variables';

/*
  Form Styles
  ------------------------------------------------------------------------------
*/

.cf-form--wrapper {
  width: 100%;
}

/*
  Form Elements
  ------------------------------------------------------------------------------
*/
.cf-form--element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: $cf-marg-b;
}

/*
  Form Group Addons
  ------------------------------------------------------------------------------
*/
.cf-form--label,
.cf-form--help-text,
.cf-form--element-error {
  text-align: left;
  display: inline-block;
  font-size: $cf-form-sm-font;
  font-weight: $cf-font-weight--medium;
  padding: 0 ($cf-form-sm-padding + $cf-border);
  @extend %no-user-select;
}

.cf-form--label {
  width: 100%;
  color: $cf-label--default;
  margin: 0 0 $cf-marg-a 0;
  display: flex;
  align-items: center;
}

.cf-form--label-text {
  margin-right: $cf-marg-b;

  &:only-child {
    margin-right: 0;
  }
}

.cf-form--help-text {
  font-style: italic;
  line-height: 16px;
  color: $cf-label--default;
  margin: $cf-marg-a 0 0 0;
}

.cf-form--element-error {
  line-height: 16px;
  color: $c-dreamsicle;
  margin: $cf-marg-a 0 0 0;
  word-break: break-all;
  word-wrap: break-word;
}

.cf-form--label-required {
  color: $c-curacao;
}

/*
  Form Divider
  ------------------------------------------------------------------------------
*/
.cf-form--divider {
  width: 100%;
  height: $cf-form-sm-height - $cf-marg-b;

  &-line {
    height: $cf-border;
    background-color: $cf-card--border;
    margin: (($cf-form-sm-height - $cf-marg-b) / 2) 0;
    border-radius: $cf-border / 2;
  }
}

/*
  Form Footer
  ------------------------------------------------------------------------------
*/
.cf-form--footer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: $cf-form-sm-height - $cf-marg-b;
  margin-bottom: 0;

  > * {
    margin: 0 $cf-marg-a;
  }
}

/*
  Form Box
  ------------------------------------------------------------------------------
*/
.cf-form--box {
  width: 100%;
  border-radius: $cf-radius;
  background-color: $cf-card-background--default;
  padding: $cf-marg-b ($cf-marg-b + $cf-marg-a);
  min-height: $cf-form-sm-height;
}
