@import '../../Styles/modules';

/*
   Clockface Application Wrapper
   -----------------------------------------------------------------------------
*/

.clockface--app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: $cf-text-default;
  background-color: $g1-raven;
}

@media screen and (min-width: $nav-menu--breakpoint) {
  .clockface--app-wrapper {
    flex-direction: row;
  }
}

/*
   Presentation Mode
   -----------------------------------------------------------------------------
*/

.clockface--app-wrapper__presentation-mode {
  .cf-nav, 
  .cf-page-header {
    display: none;
  }

  .cf-page-contents__fixed,
  .cf-page-contents__fluid,
  .cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fluid,
  .cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fixed {
    padding: $page--gutter-small;
  }
}
