@import "../../Styles/variables.scss";

/*
  SelectGroup Component
  ------------------------------------------------------------------------------
*/

$select-group--padding: $cf-marg-a;

.cf-select-group {
  display: inline-flex;
  align-items: stretch;
  padding: $select-group--padding;
  border-radius: $cf-radius;
  background-color: $g5-pepper;

  // Visually obscures underlying input
  & > input[type="radio"],
  & > input[type="checkbox"] {
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
  }
}

.cf-select-group--option {
  @include no-user-select();
  border: 0;
  font-family: $cf-text-font;
  font-weight: $cf-font-weight--medium;
  background-color: transparent;
  transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  color: $g11-sidewalk;
  text-transform: capitalize;
  border-radius: $cf-radius-sm;
  outline: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: $cf-border;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $g6-smoke;
    color: $g18-cloud;
    cursor: pointer;
  }

  &:focus {
    box-shadow: $cf-input--box-shadow;

      &:active {
      box-shadow: none;
    }
  }

  &.cf-select-group--option__active {
    color: $g20-white;
  }

  &.cf-select-group--option__disabled,
  &.cf-select-group--option__disabled:hover,
  &.cf-select-group--option__disabled:focus {
    box-shadow: none;
    background-color: transparent;
    font-style: italic;
    color: $g7-graphite;
    cursor: default;
  }
}

/*
  Size Modifiers 
  ------------------------------------------------------------------------------
*/

@mixin radioButtonSizeModifier($fontSize, $padding, $height) {
  height: $height;

  .cf-select-group--option {
    height: $height - ($select-group--padding * 2);
    line-height: $height - ($select-group--padding * 2);
    padding: 0 $padding;
    font-size: $fontSize;
  }

  // Square Buttons
  &.cf-select-group__square .cf-select-group--option {
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: $height - ($select-group--padding * 2);
  }
}

.cf-select-group__xs {
  @include radioButtonSizeModifier($cf-form-xs-font, $cf-form-xs-padding, $cf-form-xs-height);
}
.cf-select-group__sm {
  @include radioButtonSizeModifier($cf-form-sm-font, $cf-form-sm-padding, $cf-form-sm-height);
}
.cf-select-group__md {
  @include radioButtonSizeModifier($cf-form-md-font, $cf-form-md-padding, $cf-form-md-height);
}
.cf-select-group__lg {
  @include radioButtonSizeModifier($cf-form-lg-font, $cf-form-lg-padding, $cf-form-lg-height);
}


/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/

@mixin radioButtonColorModifier($background, $text) {
  .cf-select-group--option.cf-select-group--option__active {
    color: $g20-white;
    background-color: $background;

    &.cf-select-group--option__disabled {
      color: mix($g20-white, mix($background, $g5-pepper, 50%), 50%);
      background-color: mix($background, $g5-pepper, 50%);
    }
  }
}

.cf-select-group__default {
  @include radioButtonColorModifier($g7-graphite, $g20-white);
}
.cf-select-group__primary {
  @include radioButtonColorModifier($c-pool, $g20-white);
}
.cf-select-group__secondary {
  @include radioButtonColorModifier($c-star, $g20-white);
}
.cf-select-group__success {
  @include radioButtonColorModifier($c-rainforest, $g20-white);
}
.cf-select-group__danger {
  @include radioButtonColorModifier($c-curacao, $g20-white);
}
.cf-select-group__warning {
  @include radioButtonColorModifier($c-pineapple, $g2-kevlar);
}

/*
  Shape Modifiers
  ------------------------------------------------------------------------------
*/

.cf-select-group.cf-select-group__stretch {
  width: 100%;

  .cf-select-group--option {
    flex: 1 0 0;
  }
}
