@import '../../Styles/variables.scss';
@import '../../Styles/typography.scss';

/*
  SelectGroup Component
  ------------------------------------------------------------------------------
*/

$select-group--padding: $cf-space-2xs;

.cf-select-group {
  display: inline-flex;
  align-items: stretch;
  padding: 0;
  border-radius: $cf-radius;

  // Visually obscures underlying input
  & > input[type='radio'],
  & > input[type='checkbox'] {
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
  }
}

.cf-select-group--option {
  @include no-user-select();
  border: 0;
  font-family: $cf-text-font;
  font-weight: $cf-font-weight--medium;
  background-color: $cf-grey-35;
  transition: background-color $cf-transition-default,
    color $cf-transition-default, box-shadow $cf-transition-default;
  color: $cf-grey-65;
  outline: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %type-uppercase;
  position: relative;

  &:first-of-type {
    border-bottom-left-radius: $cf-radius;
    border-top-left-radius: $cf-radius;
  }

  &:last-of-type {
    border-bottom-right-radius: $cf-radius;
    border-top-right-radius: $cf-radius;
  }

  &:after {
    @include createOverlayBase();
  }

  &:hover,
  &:focus {
    cursor: pointer;

    &:not(.cf-select-group--option__disabled):after {
      opacity: $cf-hover-active-opacity;
    }
  }

  &.cf-select-group--option__disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: $cf-disabled-opacity;
  }
}

/*
  Size Modifiers 
  ------------------------------------------------------------------------------
*/

@mixin radioButtonSizeModifier($fontSize, $padding, $height) {
  .cf-select-group--option {
    padding: $padding;
    font-size: $fontSize;
    height: $height;
  }

  // Square Buttons
  &.cf-select-group__square .cf-select-group--option {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(1em + #{($padding * 2)});
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: block;
  }
}

.cf-select-group__xs {
  @include radioButtonSizeModifier(
    $cf-text-base-0,
    $cf-space-3xs,
    $cf-form-xs-height
  );
}
.cf-select-group__sm {
  @include radioButtonSizeModifier(
    $cf-text-base-0,
    $cf-space-2xs,
    $cf-form-sm-height
  );
}
.cf-select-group__md {
  @include radioButtonSizeModifier(
    $cf-text-base-1,
    $cf-space-xs,
    $cf-form-md-height
  );
}
.cf-select-group__lg {
  @include radioButtonSizeModifier(
    $cf-text-base-1,
    $cf-space-s,
    $cf-form-lg-height
  );
}

/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/

@mixin radioButtonColorModifier($background, $text) {
  .cf-select-group--option.cf-select-group--option__active {
    color: $g20-white;
    background-color: $background;

    &.cf-select-group--option__disabled {
      color: mix($g20-white, mix($background, $g5-pepper, 50%), 50%);
      background-color: mix($background, $g5-pepper, 50%);
    }
  }
}

.cf-select-group__default,
.cf-select-group__primary,
.cf-select-group__success,
.cf-select-group__secondary {
  @include radioButtonColorModifier($c-pool, $g20-white);
}

.cf-select-group__danger,
.cf-select-group__warning {
  @include radioButtonColorModifier($c-curacao, $g20-white);
}

/*
  Shape Modifiers
  ------------------------------------------------------------------------------
*/

.cf-select-group.cf-select-group__stretch {
  width: 100%;

  .cf-select-group--option {
    flex: 1 0 0;
  }
}
