@import '../../Styles/modules';

$slider-bg: $g2-kevlar;
$slider-hover-border: $g7-graphite;

$slider-handle: $c-pool;
$slider-handle-focus: $c-laser;
$slider-handle-disabled: $g4-onyx;
$slider-handle-height: $cf-marg-c;

$slider-track: $g5-pepper;
$slider-track-disabled: $g3-castle;
$slider-track-height: $cf-marg-a;

$slider-focus-border: $c-pool;
$slider-hover: $g17-whisper;

.cf-input input[type='range'] {
  -webkit-appearance: none;
  border: none;
  height: $slider-track-height;
  background: $slider-track;

  &:hover {
    background: $slider-hover-border;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    height: $slider-track-height;
    background: transparent;
    border: none;
    border-radius: $cf-radius;

    &:focus {
      background: $slider-focus-border;
    }
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: $slider-handle-height;
    width: $slider-handle-height;
    border-radius: $cf-radius;
    background: $slider-handle;
    margin-top: -(($slider-handle-height/2) - ($slider-track-height/2));

    &:hover,
    &:focus {
      background: $slider-handle-focus;
    }
  }

  &::-moz-range-track {
    height: $slider-track-height;
    border-radius: $cf-radius;
    background: transparent;
    border: none;
  }

  &::-moz-range-thumb {
    border: none;
    height: $slider-handle-height;
    width: $slider-handle-height;
    border-radius: $cf-radius;
    background: $slider-handle;

    &:hover,
    &:focus {
      background: $slider-handle-focus;
    }
  }

  &::-ms-track {
    height: $slider-track-height;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
    border-radius: $cf-radius;
  }

  &::-ms-fill-lower {
    background: transparent;
  }

  &::-ms-fill-upper {
    background: transparent;
  }

  &::-ms-thumb {
    border: none;
    height: $slider-handle-height;
    width: $slider-handle-height;
    border-radius: $cf-radius;
    background: $slider-handle;

    &:hover,
    &:focus {
      background: $slider-handle-focus;
    }
  }
}

.cf-range-slider--wrapper {
  width: 100%;
}

.cf-range-slider--container {
  width: 100%;
  height: 30px;
  background: $slider-bg;
  border: 2px solid $slider-track;
  border-radius: $cf-radius;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 $cf-marg-c;
  transition: border-color 0.25s ease;

  &:hover {
    border-color: $slider-hover-border;
  }
}

.cf-range-slider--labels {
  margin-top: $cf-marg-a;
  padding: 0 $cf-marg-c;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

  .cf-range-slider--bound {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    @extend %no-user-select;
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin sliderSizeModifier($fontSize, $height, $containerHeight) {
  $slider-handle-mod-height: $height + 10px;

  &.cf-range-slider--container {
    height: $containerHeight;
  }

  input[type='range'] {
    height: $height;

    &::-webkit-slider-runnable-track {
      height: $height;
    }

    &::-webkit-slider-thumb {
      height: $slider-handle-mod-height;
      width: $slider-handle-mod-height;
      margin-top: -(($slider-handle-mod-height/2) - ($height/2));
    }

    &::-moz-range-track {
      height: $height;
    }

    &::-moz-range-thumb {
      height: $slider-handle-mod-height;
      width: $slider-handle-mod-height;
    }

    &::-ms-track {
      height: $height;
    }

    &::-ms-thumb {
      height: $slider-handle-mod-height;
      width: $slider-handle-mod-height;
    }
  }

  &.cf-range-slider--fill {
    ::-moz-range-progress {
      height: $height;
    }
  }
}

.cf-input-xs {
  @include sliderSizeModifier($form-xs-font, $cf-marg-a, $form-xs-height);
}
.cf-input-sm {
  @include sliderSizeModifier($form-sm-font, ($cf-marg-a + 2), $form-sm-height);
}
.cf-input-md {
  @include sliderSizeModifier($form-md-font, $cf-marg-b, $form-md-height);
}
.cf-input-lg {
  @include sliderSizeModifier($form-lg-font, ($cf-marg-b + 2), $form-lg-height);
}

/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/
@mixin handleColorModifier($bg, $bgHover, $bgActive) {
  input[type='range'] {
    &::-webkit-slider-runnable-track {
      &:focus {
        background: $bg;
      }
    }

    &::-webkit-slider-thumb {
      background: $bg;

      &:hover {
        background: $bgHover;
      }

      &:focus,
      &:active {
        background: $bgActive;
      }
    }

    &::-moz-range-thumb {
      background: $bg;

      &:hover {
        background: $bgHover;
      }

      &:focus,
      &:active {
        background: $bgActive;
      }
    }
  }
}

.cf-range-slider--default {
  @include handleColorModifier($g7-graphite, $g8-storm, $g9-mountain);
}
.cf-range-slider--primary {
  @include handleColorModifier($c-pool, $c-laser, $c-hydrogen);
}
.cf-range-slider--secondary {
  @include handleColorModifier($c-star, $c-comet, $c-potassium);
}
.cf-range-slider--success {
  @include handleColorModifier($c-rainforest, $c-honeydew, $c-wasabi);
}
.cf-range-slider--warning {
  @include handleColorModifier($c-pineapple, $c-thunder, $c-daisy);
}
.cf-range-slider--danger {
  @include handleColorModifier($c-curacao, $c-dreamsicle, $c-tungsten);
}
