@import '../../Styles/variables';

/*
  Toggle Styles
  ------------------------------------------------------------------------------
*/

.cf-toggle {
  display: flex;
  align-items: center;
  position: relative;

  // Visually obscures underlying input
  & > input[type='radio'],
  & > input[type='checkbox'] {
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
  }
}

.cf-toggle--visual-input {
  display: flex;
  align-items: center;
  cursor: pointer;

  .cf-toggle__disabled & {
    cursor: not-allowed;
  }
}

.cf-toggle--box {
  background: rgba($cf-grey-95, 0.15);
  position: relative;
  display: block;
  transition: $cf-input--transition;
  outline: none;

  &:after {
    @include createOverlayBase();
  }

  .cf-toggle:hover:not(.cf-toggle__disabled) & {
    cursor: pointer;

    &:after {
      opacity: $cf-hover-active-opacity;
    }
  }

  .cf-toggle__focused & {
    @include focus-shadow();
  }

  .cf-toggle__focused.cf-toggle__checked & {
    @include focus-glow($cf-white);
  }

  .cf-toggle__checked & {
    background: $cf-lavender;

    .cf-toggle--indicator {
      opacity: 1;
    }
  }

  .cf-toggle__radio & {
    border-radius: 50%;
  }

  .cf-toggle__checkbox & {
    border-radius: $cf-radius;
  }
}

.cf-toggle__disabled {
  opacity: $cf-disabled-opacity;
  cursor: not-allowed;
}

.cf-toggle--indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity $cf-transition-default;
  transform: translate(-50%, -50%);
}

.cf-toggle__checkbox .cf-toggle--dot {
  width: 0.4em;
  height: 0.714em;
  transform: translate(-50%, -60%) rotate(45deg);
  border-bottom: $cf-border solid $cf-white;
  border-right: $cf-border solid $cf-white;
}

.cf-toggle__radio .cf-toggle--dot {
  border-radius: 50%;
  background: $cf-white;
  font-size: inherit;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0.333);
  outline: rgba(0, 0, 0, 0.2) solid 1px;
}

.cf-toggle--icon {
  font-size: 0.75em;
}

.cf-toggle__fill-solid {
  background: $cf-button-default-bg;
  border-radius: $cf-radius;

  .cf-toggle--box:after {
    display: none;
  }

  &:after {
    @include createOverlayBase();
  }

  &:hover:not(.cf-toggle__disabled):after {
    opacity: $cf-hover-active-opacity;
  }

  &.cf-toggle__focused {
    @include focus-shadow();

    .cf-toggle--box {
      box-shadow: none;
    }
  }

  &.cf-toggle__focused.cf-toggle__checked {
    @include focus-shadow($cf-white);

    .cf-toggle--box {
      box-shadow: none;
    }
  }

  &.cf-toggle__checked {
    background: $c-pool;

    .cf-toggle--box {
      background: $cf-grey-15;
    }
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin toggleSizeModifier($fontSize, $size, $height, $padding) {
  height: $size;

  .cf-toggle--box {
    height: $size;
    width: $size;
    font-size: $fontSize;
  }

  &.cf-toggle__labelled .cf-toggle--box {
    margin-right: $cf-space-xs;
  }

  &.cf-toggle__fill-solid {
    &,
    .cf-toggle--visual-input {
      height: $height;
    }

    .cf-toggle--visual-input {
      padding: 0 $padding;
    }
  }

  label {
    outline: none;
  }
}

.cf-toggle__xs {
  @include toggleSizeModifier(
    $cf-text-base-0,
    $cf-space-s,
    $cf-form-xs-height,
    $cf-space-xs
  );
}
.cf-toggle__sm {
  @include toggleSizeModifier(
    $cf-text-base-0,
    $cf-space-s,
    $cf-form-sm-height,
    $cf-space-xs
  );
}
.cf-toggle__md {
  @include toggleSizeModifier(
    $cf-text-base-2,
    $cf-space-m,
    $cf-form-md-height,
    $cf-space-s
  );
}
.cf-toggle__lg {
  @include toggleSizeModifier(
    $cf-text-base-2,
    $cf-space-m,
    $cf-form-lg-height,
    $cf-space-s
  );
}
