@import '../../Styles/variables';

/*
  Toggle Styles
  ------------------------------------------------------------------------------
*/

.cf-toggle {
  display: flex;
  align-items: center;
  position: relative;

  // Visually obscures underlying input
  & > input[type="radio"],
  & > input[type="checkbox"] {
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
  }
}

.cf-toggle--visual-input {
  position: relative;
  display: block;
  border-width: $cf-border;
  border-style: solid;
  transition: $cf-input--transition;
  outline: none;

  .cf-toggle:hover:not(.cf-toggle__disabled) & {
    cursor: pointer;
  }

  .cf-toggle__focused &,
  .cf-toggle__focused:hover & {
    box-shadow: $cf-input--box-shadow;
  }

  .cf-toggle__radio & {
    border-radius: 50%;
  }
  
  .cf-toggle__checkbox & {
    border-radius: $cf-radius;
  }

  input[type="radio"]:checked + & .cf-toggle--indicator,
  input[type="checkbox"]:checked + & .cf-toggle--indicator {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1,1);
  }
}

.cf-toggle--indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2,2);
  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease, color 0.25s ease, background-color 0.25s ease;
}

.cf-toggle--dot {
  border-radius: 50%;
}

// Outline Appearance
.cf-toggle__outline {
  .cf-toggle--visual-input {
    background-color: $cf-input-background--default;
    border-color: $cf-input-border--default;
  }

  &:hover .cf-toggle--visual-input {
    background-color: $cf-input-background--hover;
    border-color: $cf-input-border--hover;
  }

  &.cf-toggle__focused .cf-toggle--visual-input,
  &.cf-toggle__focused:hover .cf-toggle--visual-input {
    background-color: $cf-input-background--focused;
    border-color: $cf-input-border--focused;
  }

  &.cf-toggle__disabled .cf-toggle--visual-input,
  &.cf-toggle__disabled:hover .cf-toggle--visual-input {
    background-color: $cf-input-background--disabled;
    border-color: $cf-input-border--disabled;
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin toggleSizeModifier($fontSize, $size, $labelGap) {
  height: $size;

  .cf-toggle--visual-input {
    height: $size;
    width: $size;
  }

  .cf-toggle--icon {
    font-size: floor($fontSize * 1.25);
  }

  &.cf-toggle__outline .cf-toggle--dot {
    width: floor($size * 0.5);
    height: floor($size * 0.5);
  }
  &.cf-toggle__solid .cf-toggle--dot {
    width: floor($size * 0.666);
    height: floor($size * 0.666);
  }

  &.cf-toggle__labelled .cf-toggle--visual-input {
    margin-right: $labelGap;
  }
}

.cf-toggle__xs {
  @include toggleSizeModifier($cf-form-xs-font, $cf-form-xs-height, $cf-form-xs-padding);
}
.cf-toggle__sm {
  @include toggleSizeModifier($cf-form-sm-font, $cf-form-sm-height, $cf-form-sm-padding);
}
.cf-toggle__md {
  @include toggleSizeModifier($cf-form-md-font, $cf-form-md-height, $cf-form-md-padding);
}
.cf-toggle__lg {
  @include toggleSizeModifier($cf-form-lg-font, $cf-form-lg-height, $cf-form-lg-padding);
}

/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/
@mixin toggleColorModifier($outlineIndicator, $solidBackground, $solidBackgroundHover, $solidIndicator, $solidIndicatorHover) {
  // Outline Appearance
  &.cf-toggle__outline .cf-toggle--icon {
    color: $outlineIndicator;
  }
  &.cf-toggle__outline .cf-toggle--dot {
    background-color: $outlineIndicator;
  }
  &.cf-toggle__disabled.cf-toggle__outline .cf-toggle--icon {
    color: mix($cf-input-text--disabled, $cf-input-background--disabled, 50%);
  }
  &.cf-toggle__disabled.cf-toggle__outline .cf-toggle--dot {
    background-color: mix($cf-input-text--disabled, $cf-input-background--disabled, 50%);
  }

  // Solid Appearance
  &.cf-toggle__solid .cf-toggle--visual-input {
    border-color: $solidBackground;
    background-color: $solidBackground;
  }
  &.cf-toggle__solid .cf-toggle--icon {
    color: $solidIndicator;
  }
  &.cf-toggle__solid .cf-toggle--dot {
    background-color: $solidIndicator;
  }
  &.cf-toggle__solid:hover {
    .cf-toggle--visual-input {
      border-color: $solidBackgroundHover;
      background-color: $solidBackgroundHover;
    }
    .cf-toggle--icon {
      color: $solidIndicatorHover;
    }
    .cf-toggle--dot {
      background-color: $solidIndicatorHover;
    }
  }
  &.cf-toggle__disabled.cf-toggle__solid .cf-toggle--visual-input,
  &.cf-toggle__disabled.cf-toggle__solid:hover .cf-toggle--visual-input {
    border-color: mix($solidBackground, $cf-input-background--disabled, 20%);
    background-color: mix($solidBackground, $cf-input-background--disabled, 20%);
  }
  &.cf-toggle__disabled.cf-toggle__solid .cf-toggle--icon,
  &.cf-toggle__disabled.cf-toggle__solid:hover .cf-toggle--icon {
    color: mix($solidIndicator, $cf-input-text--disabled, 20%);
  }
  &.cf-toggle__disabled.cf-toggle__solid .cf-toggle--dot,
  &.cf-toggle__disabled.cf-toggle__solid:hover .cf-toggle--dot {
    background-color: mix($solidIndicator, $cf-input-text--disabled, 20%);
  }
}

.cf-toggle__default {
  @include toggleColorModifier($g18-cloud, $g2-kevlar, $g3-castle, $c-pool, $c-laser);
}
.cf-toggle__primary {
  @include toggleColorModifier($c-pool, $c-pool, $c-laser, $g2-kevlar, $g4-onyx);
}
.cf-toggle__secondary {
  @include toggleColorModifier($c-comet, $c-star, $c-comet, $g2-kevlar, $g4-onyx);
}
.cf-toggle__success {
  @include toggleColorModifier($c-rainforest, $c-rainforest, $c-honeydew, $g2-kevlar, $g4-onyx);
}
.cf-toggle__warning {
  @include toggleColorModifier($c-pineapple, $c-pineapple, $c-sulfur, $g2-kevlar, $g4-onyx);
}
.cf-toggle__danger {
  @include toggleColorModifier($c-dreamsicle, $c-curacao, $c-dreamsicle, $g2-kevlar, $g4-onyx);
}
