@import '../../Styles/variables';

/*
   Flexible Square Grid
   -----------------------------------------------------------------------------
*/

.cf-square-grid {
  display: grid;
  grid-auto-rows: 1fr;

  &:before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin squareGridSizeModifier($gutter) {
   grid-gap: $gutter;
}

.cf-square-grid__gutter-xs {
  @include squareGridSizeModifier($cf-border);
}
.cf-square-grid__gutter-sm {
  @include squareGridSizeModifier($cf-marg-a);
}
.cf-square-grid__gutter-md {
  @include squareGridSizeModifier($cf-marg-b);
}
.cf-square-grid__gutter-lg {
  @include squareGridSizeModifier($cf-marg-c);
}
