@import "../../Styles/variables.scss";

/*
  Tabs Component
  ------------------------------------------------------------------------------
*/

$cf-tab--text: $g9-mountain;
$cf-tab--text-hover: $g14-chromium;
$cf-tab--text-active: $g20-white;
$cf-tab--border-color: $g5-pepper;

$cf-tab-dropdown--label: $g13-mist;
$cf-tab-dropdown--label-hover: $g20-white;
$cf-tab-dropdown--menu-bg-a: $c-void;
$cf-tab-dropdown--menu-bg-b: $c-sapphire;
$cf-tab-dropdown--item-bg-a: $c-star;
$cf-tab-dropdown--item-bg-b: $c-pool;
$cf-tab-dropdown--item-text: mix($c-potassium, $c-hydrogen, 50%);
$cf-tab-dropdown--item-text-active: $g20-white;

.cf-tabs {
  display: flex;
  align-items: stretch;

  &__horizontal {
    width: 100%;
    flex-direction: row;
    border-bottom: $cf-border solid $cf-tab--border-color;
  }
  
  &__vertical {
    height: 100%;
    flex-direction: column;
    border-right: $cf-border solid $cf-tab--border-color;
  }

  &__align-left {
    justify-content: flex-start;
  }
  &__align-center {
    justify-content: center;
  }
  &__align-right {
    justify-content: flex-end;
  }
}

.cf-tabs--tab,
a.cf-tabs--tab:link,
a.cf-tabs--tab:active,
a.cf-tabs--tab:visited {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: color 0.25s ease;
  color: $cf-tab--text;
  position: relative;

  &:hover {
    cursor: pointer;
    color: $cf-tab--text-hover;
  }

  > .cf-icon {
    display: inline-block;
  }
}

.cf-tabs--state-indicator {
  position: absolute;
  background-color: $cf-tab--border-color;
  opacity: 0;
  transition: opacity 0.25s ease, height 0.25s ease, width 0.25s ease;

  .cf-tabs__horizontal & {
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: $cf-radius-sm $cf-radius-sm 0 0;
  }

  .cf-tabs__vertical & {
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    border-radius: $cf-radius-sm 0 0 $cf-radius-sm;
  }
}

.cf-tabs--tab-label {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 0 0;
  font-weight: $cf-font-weight--medium;
  white-space: nowrap;
  user-select: none;
}

// Active State

.cf-tabs--tab__active,
a.cf-tabs--tab__active:link,
a.cf-tabs--tab__active:visited,
a.cf-tabs--tab__active:active,
a.cf-tabs--tab.cf-tabs--tab__active:hover,
.cf-tabs--tab__active:hover {
  color: $cf-tab--text-active;

  .cf-tabs__vertical & .cf-tabs--state-indicator {
    width: $cf-marg-b;
    opacity: 1;
  }

  .cf-tabs__horizontal & .cf-tabs--state-indicator {
    opacity: 1;
  }
}

/*
  Tab Contents
  ------------------------------------------------------------------------------
*/

.cf-tabs--tab-contents {
  position: relative;
  flex: 1 0 0;
}

/*
  Tab Size Modifiers 
  ------------------------------------------------------------------------------
*/

@mixin tabSizeModifier($fontSize, $tabPadding, $tabHeight) {
  .cf-tabs--tab {
    height: floor($tabHeight * 1.35);
    padding: $tabPadding 0;
  
    > .cf-icon {
      margin-right: ceil($tabPadding * 0.66);
      font-size: ceil($fontSize * 1.25);
    }
  
    > .cf-tabs--tab-dismiss {
      margin-left: ceil($tabPadding * 0.66);
    }
  
    .cf-tabs--tab-label {
      font-size: $fontSize + 1;
    }
  
    .cf-tabs--tab-dismiss {
      margin-top: $cf-marg-b;
      margin-bottom: $cf-marg-b;
      height: $tabHeight;
      width: $tabHeight;
      margin-left: -$cf-border;
      margin-right: -$tabPadding;
    }
  }
  &.cf-tabs__horizontal .cf-tabs--tab__active .cf-tabs--state-indicator {
    height: floor($tabHeight * 0.18);
  }

  &.cf-tabs__vertical .cf-tabs--tab {
    padding-right: $tabPadding * 2;
  }

  &.cf-tabs__horizontal {
    &.cf-tabs__align-left {
      .cf-tabs--tab {
        margin-right: $tabPadding * 2;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    &.cf-tabs__align-center {
      .cf-tabs--tab {
        margin-left: $tabPadding;
        margin-right: $tabPadding;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
    &.cf-tabs__align-right {
      .cf-tabs--tab {
        margin-left: $tabPadding * 2;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &.cf-tabs__horizontal + .cf-tabs--tab-contents {
    padding-top: $tabPadding * 2;
  }
  &.cf-tabs__vertical + .cf-tabs--tab-contents {
    padding-left: $tabPadding * 2;
  }
}

.cf-tabs__xs {
  @include tabSizeModifier($cf-form-xs-font, $cf-form-xs-padding, $cf-form-xs-height);
}
.cf-tabs__sm {
  @include tabSizeModifier($cf-form-sm-font, $cf-form-sm-padding, $cf-form-sm-height);
}
.cf-tabs__md {
  @include tabSizeModifier($cf-form-md-font, $cf-form-md-padding, $cf-form-md-height);
}
.cf-tabs__lg {
  @include tabSizeModifier($cf-form-lg-font, $cf-form-lg-padding, $cf-form-lg-height);
  .cf-tabs--tab-label {
    font-weight: $cf-font-weight--medium;
  }
}

/*
  Tab Dismiss Button
  ------------------------------------------------------------------------------
*/

.cf-tabs--tab-dismiss-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: $c-curacao;
  width: calc(35% + #{$cf-marg-b});
  height: calc(35% + #{$cf-marg-b});
  transform: translate(-50%,-50%);
  transition: opacity 0.25s ease, background-color 0.25s ease;
  opacity: 0;
}

.cf-tabs--tab-dismiss {
  position: relative;
  background-color: transparent;
  border: 0;
  outline: none;

  &:before,
  &:after {
    content: '';
    width: 30%;
    min-width: $cf-marg-b;
    height: $cf-border;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    background-color: $cf-tab--border-color;
    transition: background-color 0.25s ease;
  }

  &:before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }

  .cf-tabs--tab:hover & {
    opacity: 1;
  }

  .cf-tabs--tab:hover &:hover {
    cursor: pointer;
    opacity: 1;

    &:before,
    &:after {
      background-color: $cf-tab--text;
    }
  }


  &:active,
  &:active .cf-tabs--tab-dismiss-circle,
  &:active:hover,
  &:active:hover .cf-tabs--tab-dismiss-circle {
    opacity: 1;
  }

  
  &:active:before,
  &:active:after,
  &:hover:active:before,
  &:hover:active:after,
  .cf-tabs--tab:hover &:active:before,
  .cf-tabs--tab:hover &:active:after,
  .cf-tabs--tab:hover &:hover:active:before,
  .cf-tabs--tab:hover &:hover:active:after {
    background-color: $g20-white;
  }
}


/*
  Tabs Dropdown
  ------------------------------------------------------------------------------
*/

.cf-tabs--dropdown {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  border-bottom: $cf-border solid $cf-tab--border-color;

  &.cf-tabs--dropdown__visible {
    z-index: $cf-z--tabs-dropdown;
  }
}

.cf-tabs--dropdown-label {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 0 0;
  font-weight: $cf-font-weight--medium;
  color: $cf-tab-dropdown--label;
  transition: color 0.25s ease;
  white-space: nowrap;
  user-select: none;
}

.cf-tabs--dropdown-icon {
  position: absolute;
  top: 50%;
  display: block;
  transform: translate(50%, -50%);
  transition: transform 0.25s ease;

  .cf-tabs--dropdown__visible & {
    transform: translate(50%, -50%) rotate(180deg);
  }
}

.cf-tabs--dropdown-label:hover {
  cursor: pointer;
  color: $cf-tab-dropdown--label-hover;
}

.cf-tabs--dropdown__visible .cf-tabs--dropdown-label,
.cf-tabs--dropdown__visible .cf-tabs--dropdown-label:hover {
  color: $cf-tab-dropdown--label-hover;
}

.cf-tabs--dropdown-menu {
  position: absolute;
  top: calc(100% + #{$cf-border * 2});
  left: 0;
  width: 100%;
  z-index: 10;
  flex-direction: column;
  align-items: stretch;
  @include gradient-h($cf-tab-dropdown--menu-bg-a, $cf-tab-dropdown--menu-bg-b);
  @include panel-shadow();
  border-radius: $cf-radius;


  .cf-tabs--dropdown__hidden & {
    display: none;
  }

  .cf-tabs--dropdown__visible & {
    display: flex;
  }
}

.cf-tabs--dropdown__align-left {
  .cf-tabs--dropdown-label,
  .cf-tabs--tab {
    text-align: left;
  }
}

.cf-tabs--dropdown__align-center {
  .cf-tabs--dropdown-label,
  .cf-tabs--tab {
    text-align: center;
  }
}

.cf-tabs--dropdown__align-right {
  .cf-tabs--dropdown-label,
  .cf-tabs--tab {
    text-align: right;
  }
}

// Update styles for dismiss button within dropdown mode
.cf-tabs--dropdown-menu .cf-tabs--tab .cf-tabs--tab-dismiss {
  opacity: 1;
  position: absolute;
  top: 50%;

  &:before,
  &:after {
    background-color: $cf-tab-dropdown--menu-bg-b;
  }

  .cf-tabs--tab-dismiss-circle {
    opacity: 1;
    background-color: $cf-tab-dropdown--item-text;
  }
}

.cf-tabs--dropdown-menu .cf-tabs--tab .cf-tabs--tab-dismiss:hover {
  .cf-tabs--tab-dismiss-circle {
    background-color: $cf-tab-dropdown--item-text-active;
  }
}

.cf-tabs--dropdown-menu .cf-tabs--tab__active .cf-tabs--tab-dismiss,
.cf-tabs--dropdown-menu .cf-tabs--tab__active .cf-tabs--tab-dismiss:hover {
  .cf-tabs--tab-dismiss-circle {
    background-color: $cf-tab-dropdown--item-text-active;
  }
}

.cf-tabs--dropdown__align-left .cf-tabs--tab .cf-tabs--tab-dismiss,
.cf-tabs--dropdown__align-left .cf-tabs--tab .cf-tabs--tab-dismiss:hover,
.cf-tabs--dropdown__align-center .cf-tabs--tab .cf-tabs--tab-dismiss,
.cf-tabs--dropdown__align-center .cf-tabs--tab .cf-tabs--tab-dismiss:hover {
  &:before,
  &:after {
    background-color: $cf-tab-dropdown--menu-bg-b;
  }
}
.cf-tabs--dropdown__align-left .cf-tabs--tab__active .cf-tabs--tab-dismiss,
.cf-tabs--dropdown__align-left .cf-tabs--tab__active .cf-tabs--tab-dismiss:hover,
.cf-tabs--dropdown__align-center .cf-tabs--tab__active .cf-tabs--tab-dismiss,
.cf-tabs--dropdown__align-center .cf-tabs--tab__active .cf-tabs--tab-dismiss:hover {
  &:before,
  &:after {
    background-color: $cf-tab-dropdown--item-bg-b;
  }
}

.cf-tabs--dropdown__align-right .cf-tabs--tab .cf-tabs--tab-dismiss,
.cf-tabs--dropdown__align-right .cf-tabs--tab .cf-tabs--tab-dismiss:hover {
  &:before,
  &:after {
    background-color: $cf-tab-dropdown--menu-bg-a;
  }
}

.cf-tabs--dropdown__align-right .cf-tabs--tab__active .cf-tabs--tab-dismiss,
.cf-tabs--dropdown__align-right .cf-tabs--tab__active .cf-tabs--tab-dismiss:hover {
  &:before,
  &:after {
    background-color: $cf-tab-dropdown--item-bg-a;
  }
}

@mixin responsiveTabSizeModifier($fontSize, $tabPadding, $tabHeight) {
  .cf-tabs--dropdown-label,
  .cf-tabs--tab {
    font-size: $fontSize;
    height: floor($tabHeight * 1.35);
    line-height: floor($tabHeight * 1.35);
    padding: 0 floor($tabHeight * (1.35 / 3));
  }

  &.cf-tabs--dropdown__align-right .cf-tabs--dropdown-label {
    padding-right: floor($tabHeight * 1.35);
  }

  .cf-tabs--dropdown-icon {
    font-size: $fontSize;
    right: floor($tabHeight * 1.35) / 2;
  }

  .cf-tabs--tab:first-child {
    border-radius: $cf-radius $cf-radius 0 0;
  }

  .cf-tabs--tab:last-child {
    border-radius: 0 0 $cf-radius $cf-radius;
  }

  .cf-tabs--tab,
  a.cf-tabs--tab:link,
  a.cf-tabs--tab:visited,
  a.cf-tabs--tab:active {
    color: $cf-tab-dropdown--item-text;
  }

  .cf-tabs--tab:hover,
  a.cf-tabs--tab:hover {
    color: $cf-tab-dropdown--item-text-active;
  }

  .cf-tabs--tab__active,
  a.cf-tabs--tab__active:link,
  a.cf-tabs--tab__active:visited,
  a.cf-tabs--tab__active:active {
    color: $cf-tab-dropdown--item-text-active;
    @include gradient-h($cf-tab-dropdown--item-bg-a, $cf-tab-dropdown--item-bg-b);
  }

  .cf-tabs--tab-dismiss {
    width: $tabHeight;
    height: $tabHeight;
  }

  &.cf-tabs--dropdown__align-left .cf-tabs--tab-dismiss,
  &.cf-tabs--dropdown__align-center .cf-tabs--tab-dismiss {
    right: $tabHeight / 2;
    transform: translate(50%, -50%);
  }

  &.cf-tabs--dropdown__align-right .cf-tabs--tab-dismiss {
    left: $tabHeight / 2;
    transform: translate(-50%, -50%);
  }
}

.cf-tabs--dropdown__xs {
  @include responsiveTabSizeModifier($cf-form-xs-font, $cf-form-xs-padding, $cf-form-xs-height);
}

.cf-tabs--dropdown__sm {
  @include responsiveTabSizeModifier($cf-form-sm-font, $cf-form-sm-padding, $cf-form-sm-height);
}

.cf-tabs--dropdown__md {
  @include responsiveTabSizeModifier($cf-form-md-font, $cf-form-md-padding, $cf-form-md-height);
}

.cf-tabs--dropdown__lg {
  @include responsiveTabSizeModifier($cf-form-lg-font, $cf-form-lg-padding, $cf-form-lg-height);
}
