@import '../../Styles/modules.scss';

/*
  Selectable Card
  ------------------------------------------------------------------------------
*/

.cf-selectable-card {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $g1-raven;
  border-radius: $cf-radius;
  border: $cf-border solid $g1-raven;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    border-color: $g4-onyx;
    background-color: $g4-onyx;

    .cf-selectable-card--body {
      background-color: $g2-kevlar;
    }
  }
}

.cf-selectable-card--container {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.cf-selectable-card--body {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $g1-raven;
  border-radius: $cf-radius;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.cf-selectable-card--hidden-input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}

.cf-selectable-card--icon {
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s ease;

  .cf-selectable-card__selected & {
    opacity: 1;
  }
}

.cf-selectable-card--label {
  cursor: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $g11-sidewalk;
  transition: color 0.25s ease;
  font-weight: 600;
  position: relative;
  padding: $cf-marg-e;
}

.cf-selectable-card:hover {
  .cf-selectable-card--label {
    color: $g13-mist;
  }
}

.cf-selectable-card__selected,
.cf-selectable-card__selected.cf-selectable-card:hover {
  .cf-selectable-card--label {
    color: $g1-raven;
  }
}

/*
  Children
  ------------------------------------------------------------------------------
*/

.cf-selectable-card--children {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(0.5) opacity(30%);
  transition: filter 0.2s ease;

  .cf-selectable-card:hover &,
  .cf-selectable-card__selected & {
    filter: grayscale(0) opacity(100%);
  }
}

/*
  Disabled State
  ------------------------------------------------------------------------------
*/

.cf-selectable-card__disabled,
.cf-selectable-card__disabled:hover,
.cf-selectable-card__disabled.cf-selectable-card__selected {
  cursor: default;
  border-color: $g1-raven;
  font-style: italic;

  .cf-selectable-card--children {
    filter: grayscale(0.75) opacity(15%);
  }

  .cf-selectable-card--label {
    color: $g9-mountain;
  }

  &.cf-selectable-card__selected {
    .cf-selectable-card--label {
      color: $g1-raven;
    }
  }
}

/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/
@mixin selectableCardColorModifier($color) {
  &.cf-selectable-card__selected,
  &.cf-selectable-card__selected:hover {
    border-color: $color;
    background-color: $color;
  }

  .cf-selectable-card--icon {
    color: $color;
  }

  &.cf-selectable-card__selected.cf-selectable-card__disabled {
    border-color: mix($color, $g1-raven, 30%);
    background-color: mix($color, $g1-raven, 30%);

    .cf-selectable-card--icon {
      color: mix($color, $g1-raven, 30%);
    }
  }
}

.cf-selectable-card__default {
  @include selectableCardColorModifier($g15-platinum);
}
.cf-selectable-card__primary {
  @include selectableCardColorModifier($c-pool);
}
.cf-selectable-card__secondary {
  @include selectableCardColorModifier($c-comet);
}
.cf-selectable-card__success {
  @include selectableCardColorModifier($c-rainforest);
}
.cf-selectable-card__warning {
  @include selectableCardColorModifier($c-pineapple);
}
.cf-selectable-card__danger {
  @include selectableCardColorModifier($c-dreamsicle);
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin selectableCardSizeModifier($fontSize, $padding) {
  .cf-selectable-card--label {
    font-size: ceil($fontSize * 1.25);
    padding: $padding;
  }

  .cf-selectable-card--icon {
    font-size: ceil($fontSize * 1.25);
    top: $padding * 1.5;
    left: $padding * 1.5;
  }
  .cf-selectable-card--children {
    width: calc(100% - #{$padding * 8});
    height: calc(100% - #{$padding * 8});
  }
}

.cf-selectable-card__xs {
  @include selectableCardSizeModifier($form-xs-font, $form-xs-padding);
}
.cf-selectable-card__sm {
  @include selectableCardSizeModifier($form-sm-font, $form-sm-padding);
}
.cf-selectable-card__md {
  @include selectableCardSizeModifier($form-md-font, $form-md-padding);
}
.cf-selectable-card__lg {
  @include selectableCardSizeModifier($form-lg-font, $form-lg-padding);
}
