@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('./Fonts/Roboto-Thin.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./Fonts/Roboto-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./Fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./Fonts/Roboto-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('./Fonts/Roboto-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./Fonts/Roboto-Black.ttf') format('ttf');
}
@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 500;
  src: url('./Fonts/RobotoMono-Medium.ttf') format('ttf');
}
