@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url('./Fonts/ProximaNova-Light.otf') format('otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('./Fonts/ProximaNova-Regular.otf') format('otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 500;
  src: url('./Fonts/ProximaNova-Medium.otf') format('otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('./Fonts/ProximaNova-Bold.otf') format('otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 900;
  src: url('./Fonts/ProximaNova-Black.otf') format('otf');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./Fonts/RobotoMono-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 600;
  src: url('./Fonts/RobotoMono-SemiBold.ttf') format('ttf');
}
