@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('./Fonts/Rubik-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./Fonts/Rubik-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('./Fonts/Rubik-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('./Fonts/Rubik-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('./Fonts/Rubik-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 400;
  src: url('./Fonts/IBMPlexMono-Regular.otf') format('otf');
}
@font-face {
  font-family: 'IBMPlexMono';
  font-style: italic;
  font-weight: 400;
  src: url('./Fonts/IBMPlexMono-Italic.otf') format('otf');
}
