/*
   Influx Color Palette
   -----------------------------------------------------------------------------
*/

// Neutrals
$g0-obsidian: #0f0e15;
$g1-raven: #181820;
$g2-kevlar: #202028;
$g3-castle: #292933;
$g4-onyx: #31313d;
$g5-pepper: #383846;
$g6-smoke: #434453;
$g7-graphite: #545667;
$g8-storm: #676978;
$g9-mountain: #757888;
$g10-wolf: #8e91a1;
$g11-sidewalk: #999dab;
$g12-forge: #a4a8b6;
$g13-mist: #bec2cc;
$g14-chromium: #c6cad3;
$g15-platinum: #d4d7dd;
$g16-pearl: #e7e8eb;
$g17-whisper: #eeeff2;
$g18-cloud: #f6f6f8;
$g19-ghost: #fafafc;
$g20-white: #ffffff;

// Reds
$c-basalt: #2F1F29;
$c-ruby: #BF3D5E;
$c-fire: #DC4E58;
$c-curacao: #F95F53;
$c-dreamsicle: #FF8564;
$c-tungsten: #FFB6A0;
$c-marmelade: #FFDCCF;
$c-flan: #FFF7F4;

// Blues
$c-abyss: #120653;
$c-sapphire: #0b3a8d;
$c-ocean: #066fc5;
$c-pool: #00a3ff;
$c-laser: #00C9FF;
$c-hydrogen: #6BDFFF;
$c-neutrino: #BEF0FF;
$c-yeti: #F0FCFF;

// Purples
$c-shadow: #2b007e;
$c-void: #5c10a0;
$c-amethyst: #8e1fc3;
$c-star: #be2ee4;
$c-comet: #ce58eb;
$c-potassium: #dd84f1;
$c-moonstone: #ebadf8;
$c-twilight: #fad9ff;

// Greens
$c-gypsy: #003e34;
$c-emerald: #006f49;
$c-viridian: #009f5f;
$c-rainforest: #34bb55;
$c-honeydew: #67d74e;
$c-krypton: #9bf445;
$c-wasabi: #c6f98e;
$c-mint: #f3ffd6;

// Yellows
$c-oak: #3F241F;
$c-topaz: #E85B1C;
$c-tiger: #F48D38;
$c-pineapple: #FFB94A;
$c-thunder: #FFD255;
$c-sulfur: #FFE480;
$c-daisy: #FFF6B8;
$c-banana: #FFFDDE;

// Marketing Brand Colors
$c-chartreuse: #D6F622;
$c-magenta: #BF2FE5;
$c-deeppurple: #13002D;

/*
   Z Variables
   -----------------------------------------------------------------------------
   Might not actually need any of these yet
*/

$z--notifications: 9999;
$z--right-click: 9995;
$z--popovers: 9990;
$z--draggable-resizer-mask: 9980;
$z--overlays: 9940;
$z--nav-toggle: 9999;
$z--nav-menu: 9900;
$z--nav-mask: 9890;
$z--drag-n-drop: 5000;

/*
   Motifs
   -----------------------------------------------------------------------------
   Goal is to re-use these variables as much as possible to ensure powerful
   control over the UI kit proportions
*/

$cf-marg-a: 4px;
$cf-marg-b: 8px;
$cf-marg-c: 16px;
$cf-marg-d: 32px;
$cf-marg-e: 64px;
$cf-marg-f: 128px;

$cf-border: 2px;
$cf-radius: 4px;
$cf-radius-sm: $cf-radius - 1px;

/*
   Typography Variables
   -----------------------------------------------------------------------------
*/

$cf-header-font: 'Rubik', Helvetica, Arial, Tahoma, Verdana, sans-serif;
$cf-text-font: 'Rubik', Helvetica, Arial, Tahoma, Verdana, sans-serif;
$cf-code-font: 'IBMPlexMono', monospace;
$cf-icon-font: 'icomoon';

$cf-font-weight--light: 300;
$cf-font-weight--regular: 400;
$cf-font-weight--medium: 500;
$cf-font-weight--bold: 700;
$cf-font-weight--black: 900;

$cf-body-text: 12px;
$cf-text-tiny: 0.8em;
$cf-text-base: 1em;
$cf-text-scale: 1.19; 
$cf-text-base-1: ($cf-text-base * $cf-text-scale);
$cf-text-base-2: ($cf-text-base * $cf-text-scale * $cf-text-scale);
$cf-text-base-3: ($cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale);
$cf-text-base-4: ($cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale * $cf-text-scale);
$cf-text-base-5: ($cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale * $cf-text-scale * $cf-text-scale);

$cf-text-default: $g13-mist;
$cf-text-header: $g17-whisper;

$cf-link-weight: $cf-font-weight--bold;
$cf-link-default: $c-pool;
$cf-link-default-hover: $c-laser;
$cf-link-success: $c-rainforest;
$cf-link-success-hover: $c-honeydew;
$cf-link-warning: $c-pineapple;
$cf-link-warning-hover: $c-thunder;
$cf-link-secondary: $c-comet;
$cf-link-secondary-hover: $c-potassium;
$cf-link-danger: $c-curacao;
$cf-link-danger-hover:  $c-dreamsicle;

$cf-text-selection-bg: $c-pool;
$cf-text-selection-color: $g20-white;


/*
   Page Layout Variables
   -----------------------------------------------------------------------------
   NavMenu + Page components
*/

$nav-menu--size: 60px;
$nav-menu--gutter: 16px;
$nav-menu--bg: $c-pool;
$nav-menu--bg-accent: $c-star;
$nav-menu--bg-hover: $c-laser;
$nav-menu--bg-hover-accent: $c-comet;
$nav-menu--breakpoint: 800px;

$page--background: $g1-raven;

$page--header-size-sm: 66px;
$page--header-size: 88px;
$page--control-bar-size: 44px;
$page--title-size-sm: 1.8em;
$page--title-size: 2.4em;
$page--title-weight: 400;
$page--title-font: $cf-header-font;
$page--title-color: $cf-text-header;

$page--gutter-xs: 12px;
$page--gutter-sm: 20px;
$page--gutter-md: 32px;
$page--gutter-lg: 54px;

$page--max-width: 1608px;
$page--funnel-max-width: 1200px;

/*
   Responsive Breakpoints
   -----------------------------------------------------------------------------
*/

$grid--breakpoint-sm: 750px;
$grid--breakpoint-md: 1080px;
$grid--breakpoint-lg: 1500px;

/*
   Form Element Sizing
   -----------------------------------------------------------------------------
   These ensure consistent sizing across elements such as Buttons, SelectGroup,
   Dropdown, Input, etc.
*/

$form-xs-height: 22px;
$form-xs-padding: 8px;
$form-xs-font: 12px;

$form-sm-height: 30px;
$form-sm-padding: 10px;
$form-sm-font: 13px;

$form-md-height: 38px;
$form-md-padding: 14px;
$form-md-font: 14px;

$form-lg-height: 46px;
$form-lg-padding: 18px;
$form-lg-font: 17px;

/*
   Empty State
   -----------------------------------------------------------------------------
*/

$empty-state-text: $g9-mountain;
$empty-state-highlight: $g13-mist;

/*
   Input Variables
   -----------------------------------------------------------------------------
   These ensure consistent appearance across different kinds of inputs
*/

$cf-input--transition: background-color 0.25s ease, border-color 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease, color 0.25s ease;
    
$cf-input-background--default: $g2-kevlar;
$cf-input-background--focused: $g2-kevlar;
$cf-input-background--hover: $g2-kevlar;
$cf-input-background--disabled: $g3-castle;

$cf-input-text--default: $g13-mist;
$cf-input-text--focused: $g20-white;
$cf-input-text--hover: $g15-platinum;
$cf-input-text--disabled: $empty-state-text;

$cf-input-border--default: $g5-pepper;
$cf-input-border--focused: $c-pool;
$cf-input-border--hover: mix($cf-input-border--default, $cf-input-border--focused, 50%);
$cf-input-border--disabled: $g4-onyx;

$cf-input-border--error: mix($cf-input-border--default, $c-dreamsicle, 70%);
$cf-input-border--error-hover: $c-dreamsicle;
$cf-input-border--error-focused: $c-dreamsicle;

$cf-input--field-z: 1;
$cf-input--shadow-z: $cf-input--field-z + 1;
$cf-input--status-z: $cf-input--shadow-z + 1;

$cf-input--placeholder-text: $g9-mountain;

$cf-input--box-shadow: 0 0 6px 0 $cf-input-border--focused;

/*
   Card Variables
   -----------------------------------------------------------------------------
   These ensure consistent appearance across different kinds of cards
*/

$cf-card-background--default: $g3-castle;
$cf-card-background--hover: $g4-onyx;
$cf-card-background--disabled: rgba($g3-castle, 50%);

$cf-card-text--default: $g13-mist;
$cf-card-text--hover: $g18-cloud;
$cf-card-text--disabled: $g9-mountain;

$cf-card--border: $g5-pepper;
$cf-card--border-hover: $g6-smoke;
$cf-card--border-disabled: $g6-smoke;

$cf-card--name-font-size: 17px;
$cf-card--name-font-weight: $cf-font-weight--medium;

/*
   Label Variables
   -----------------------------------------------------------------------------
   Used in both Inputs and Forms
*/

$cf-label--default: $g11-sidewalk;
$cf-label--hover: $g15-platinum;
$cf-label--active: $g18-cloud;

/*
   Overlay Variables
   -----------------------------------------------------------------------------
   Used in both Inputs and Forms
*/

$overlay--gutter: $cf-marg-c + $cf-marg-b;
$overlay--header-height: $page--header-size;
$overlay--title-font: $page--title-font;
$overlay--title-size: $page--title-size * 0.666;
$overlay--title-weight: $page--title-weight;
$overlay--title-color: $page--title-color;
$overlay--container-padding: $cf-marg-c + $cf-marg-d;
$overlay--z: 20;
$overlay--mask-z: 10;

/*
   Tree Nav Variables
   -----------------------------------------------------------------------------
*/

$cf-tree-nav__width: 56px;
$cf-tree-nav__expanded-width: 250px;
$cf-tree-nav__small-height: 48px;

$cf-tree-nav__gradient-a: $c-star;
$cf-tree-nav__gradient-b: $c-pool;

$cf-tree-nav__border: $g5-pepper;
$cf-tree-nav__border-hover: $g8-storm;
$cf-tree-nav__bg: $g2-kevlar;
$cf-tree-nav__bg-hover: $g3-castle;
$cf-tree-nav__bg-active: $g4-onyx;
$cf-tree-nav__text: $g12-forge;
$cf-tree-nav__text-hover: $g17-whisper;
$cf-tree-nav__text-active: $g20-white;

$cf-tree-nav__sub-item-text: $g13-mist;
$cf-tree-nav__sub-item-text-hover: $g20-white;
$cf-tree-nav__sub-item-text-active: $g20-white;
$cf-tree-nav__sub-item-bg: transparent;
$cf-tree-nav__sub-item-bg-hover: $g7-graphite;
$cf-tree-nav__sub-item-bg-active: $c-pool;

$cf-tree-nav__user-text: $g15-platinum;
$cf-tree-nav__user-text-hover: $g20-white;
$cf-tree-nav__user-icon: $g20-white;
$cf-tree-nav__user-color-a: $c-honeydew;
$cf-tree-nav__user-color-b: $c-pool;

$cf-tree-nav__toggle-icon: $g7-graphite;
$cf-tree-nav__toggle-icon-hover: $g13-mist;

/*
   Mixins
   -----------------------------------------------------------------------------
*/

@mixin gradient-v($startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient(top,  $startColor 0%, $endColor 100%);
  background: -webkit-linear-gradient(top,  $startColor 0%,$endColor 100%);
  background: linear-gradient(to bottom,  $startColor 0%,$endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 );
}
@mixin gradient-h($startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient(left,  $startColor 0%, $endColor 100%);
  background: -webkit-linear-gradient(left,  $startColor 0%,$endColor 100%);
  background: linear-gradient(to right,  $startColor 0%,$endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 );
}
@mixin gradient-diag-up($startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient(45deg,  $startColor 0%, $endColor 100%);
  background: -webkit-linear-gradient(45deg,  $startColor 0%,$endColor 100%);
  background: linear-gradient(45deg,  $startColor 0%,$endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 );
}
@mixin gradient-diag-down($startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient(135deg,  $startColor 0%, $endColor 100%) !important;
  background: -webkit-linear-gradient(135deg,  $startColor 0%,$endColor 100%) !important;
  background: linear-gradient(135deg,  $startColor 0%,$endColor 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 ) !important;
}
@mixin gradient-r($startColor, $endColor) {
  background: $startColor;
  background: -moz-radial-gradient(center, ellipse cover,  $startColor 0%, $endColor 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  $startColor 0%,$endColor 100%);
  background: radial-gradient(ellipse at center,  $startColor 0%,$endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 );
}

// Custom Scrollbars (Chrome Only)
$scrollbar-width: 16px;
$scrollbar-offset: 3px;
@mixin custom-scrollbar($trackColor, $handleColor) {
  &::-webkit-scrollbar {
    width: $scrollbar-width;

    &-button {
      background-color: $trackColor;
    }
    &-track {
      background-color: $trackColor;
    }
    &-track-piece {
      background-color: $trackColor;
      border: $scrollbar-offset solid $trackColor;
      border-radius: ($scrollbar-width / 2);
    }
    &-thumb {
      background-color: $handleColor;
      border: $scrollbar-offset solid $trackColor;
      border-radius: ($scrollbar-width / 2);
    }
    &-corner {
      background-color: $trackColor;
    }
  }
  &::-webkit-resizer {
    background-color: $trackColor;
  }
}

@mixin custom-scrollbar-round($trackColor, $handleColor) {
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    border-top-right-radius: $cf-radius;
    border-top-left-radius: $cf-radius;
    border-bottom-left-radius: $cf-radius;
    border-bottom-right-radius: $cf-radius;

    &-button {
      background-color: $trackColor;
    }
    &-track {
      background-color: $trackColor;
      border-top-right-radius: ($scrollbar-width / 2);
      border-top-left-radius: ($scrollbar-width / 2);
      border-bottom-left-radius: ($scrollbar-width / 2);
      border-bottom-right-radius: ($scrollbar-width / 2);
    }
    &-track-piece {
      background-color: $trackColor;
      border: $scrollbar-offset solid $trackColor;
      border-radius: ($scrollbar-width / 2);
    }
    &-thumb {
      background-color: $handleColor;
      border: $scrollbar-offset solid $trackColor;
      border-radius: ($scrollbar-width / 2);
    }
    &-corner {
      background-color: $trackColor;
    }
  }
  &::-webkit-resizer {
    background-color: $trackColor;
  }
}


// Block user select
@mixin no-user-select() {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -o-user-select: none !important;
  &, &:hover {
    cursor: default;
  }
}
%no-user-select {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -o-user-select: none !important;
  &, &:hover {
    cursor: default;
  }
}

// Shadows
%drop-shadow {
  box-shadow: 0 0 10px 2px $g2-kevlar;
}
%panel-shadow {
  box-shadow: 0 1px 4px 1px rgba($g0-obsidian, 0.2);
}

@mixin portal-style($z) {
  z-index: $z;
  position: fixed;
  top: 0;
  left: 0;
}
