/*
   Z Variables
   -----------------------------------------------------------------------------
   Might not actually need any of these yet
*/

$z--notifications: 9999;
$z--right-click-layer: 9995;
$z--popovers: 9990;
$z--draggable-resizer-mask: 9980;
$z--overlays: 9940;
$z--nav-toggle: 9999;
$z--nav-menu: 9900;
$z--nav-mask: 9890;
$z--drag-n-drop: 5000;

/*
   Page Layout
   -----------------------------------------------------------------------------
   NavMenu + Page components
*/

$nav-menu--size: 50px;
$nav-menu--gutter: 16px;
$nav-menu--bg: $c-pool;
$nav-menu--bg-accent: $c-comet;
$nav-menu--breakpoint: 800px;

$page--header-size: 66px;
$page--gutter-xs: 12px;
$page--gutter-sm: 20px;
$page--gutter-md: 32px;
$page--gutter-lg: 54px;
$page--max-width: 1608px;
$page--title-size: 21px;
$page--title-weight: 400;
$page--sub-title-size: 12px;
$page--sub-title-weight: 500;
$page--background: $g1-raven;

/*
   Responsive Breakpoints
   -----------------------------------------------------------------------------
*/

$grid--breakpoint-sm: 750px;
$grid--breakpoint-md: 1080px;
$grid--breakpoint-lg: 1500px;

/*
   Motifs
   -----------------------------------------------------------------------------
   Goal is to re-use these variables as much as possible to ensure powerful
   control over the UI kit proportions
*/

$cf-marg-a: 4px;
$cf-marg-b: 8px;
$cf-marg-c: 16px;
$cf-marg-d: 32px;
$cf-marg-e: 64px;
$cf-marg-f: 128px;

$cf-border: 2px;
$cf-radius: 4px;
$cf-radius-sm: $cf-radius - 1px;

/*
   Typography
   -----------------------------------------------------------------------------
*/

$cf-text-font: 'Roboto', Helvetica, Arial, Tahoma, Verdana, sans-serif;
$cf-code-font: 'RobotoMono', monospace;
$cf-icon-font: 'icomoon';

$cf-body-text: 12px;
$cf-text-tiny: 0.8em;
$cf-text-base: 1em;
$cf-text-scale: 1.19; 
$cf-text-base-1: ($cf-text-base * $cf-text-scale);
$cf-text-base-2: ($cf-text-base * $cf-text-scale * $cf-text-scale);
$cf-text-base-3: ($cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale);
$cf-text-base-4: ($cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale * $cf-text-scale);
$cf-text-base-5: ($cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale * $cf-text-scale * $cf-text-scale);

$cf-text-default: $g13-mist;
$cf-link-weight: 700;
$cf-link-default: $c-pool;
$cf-link-default-hover: $c-laser;
$cf-link-success: $c-rainforest;
$cf-link-success-hover: $c-honeydew;
$cf-link-warning: $c-pineapple;
$cf-link-warning-hover: $c-thunder;
$cf-text-secondary: $c-star;
$cf-text-secondary-hover: $c-comet;
$cf-link-danger: $c-curacao;
$cf-link-danger-hover:  $c-dreamsicle;

$cf-text-selection-bg: $c-pool;
$cf-text-selection-color: $g20-white;

/*
   Form Element Sizing
   -----------------------------------------------------------------------------
   These ensure consistent sizing across elements such as Buttons, Radio,
   Dropdown, Input, etc.
*/

$form-xs-height: 22px;
$form-xs-padding: 6px;
$form-xs-font: 11px;

$form-sm-height: 30px;
$form-sm-padding: 9px;
$form-sm-font: 12px;

$form-md-height: 38px;
$form-md-padding: 12px;
$form-md-font: 13px;

$form-lg-height: 46px;
$form-lg-padding: 15px;
$form-lg-font: 17px;

/*
   Empty State
   -----------------------------------------------------------------------------
*/

$empty-state-text: $g9-mountain;
$empty-state-highlight: $g13-mist;

/*
   Input Styles
   -----------------------------------------------------------------------------
   These ensure consistent appearance across different kinds of inputs
*/

$cf-input--transition: background-color 0.25s ease, border-color 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease, color 0.25s ease;

$cf-input-background--default: $g2-kevlar;
$cf-input-background--focused: $g2-kevlar;
$cf-input-background--hover: $g2-kevlar;
$cf-input-background--disabled: $g3-castle;

$cf-input-text--default: $g15-platinum;
$cf-input-text--focused: $g20-white;
$cf-input-text--hover: $g17-whisper;
$cf-input-text--disabled: $g9-mountain;

$cf-input-border--default: $g5-pepper;
$cf-input-border--focused: $c-pool;
$cf-input-border--hover: mix($cf-input-border--default, $cf-input-border--focused, 50%);
$cf-input-border--disabled: $g4-onyx;

$cf-input-border--error: mix($cf-input-border--default, $c-dreamsicle, 70%);
$cf-input-border--error-hover: $c-dreamsicle;
$cf-input-border--error-focused: $c-dreamsicle;

$cf-input--field-z: 1;
$cf-input--shadow-z: $cf-input--field-z + 1;
$cf-input--status-z: $cf-input--shadow-z + 1;

$cf-input--placeholder-text: $g9-mountain;
