/*
    InfluxDB Cloud Logo
    ----------------------------------------------------------------------------
*/

.cf-logo--influxdb-cloud {
  enable-background:new 0 0 850 156;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.cf-logo--influxdb {
  enable-background:new 0 0 503 156;
  fill-rule: evenodd;
  clip-rule: evenodd;
}
