/*
    Influx Logo
    ----------------------------------------------------------------------------
*/

.cf-logo--influx {
    display: flex;
    align-items: center;
    align-content: flex-start;
    max-height: 45px;
}
  