/*
    InfluxData Logo
    ----------------------------------------------------------------------------
*/

.cf-logo--influxdata {
  enable-background:new 0 0 270 45;
  fill-rule: evenodd;
  clip-rule: evenodd;
}
