@import '../../Styles/variables';

/*
  Label Component
  ------------------------------------------------------------------------------
*/

.cf-label {
  display: inline-flex;
  align-items: center;
  align-content: center;
  user-select: none;
  transition: background-color 0.25s ease;
  flex-wrap: nowrap;
}

.cf-label--name {
  display: block;
  cursor: inherit;
  font-weight: $cf-font-weight--medium;
  white-space: nowrap;
  margin: 0;
  font-style: normal;
}

.cf-label--clickable {
  &,
  &:hover {
    cursor: pointer;
  }
}

.cf-label--delete {
  display: block;
  background-color: transparent;
  position: relative;
  border: 0;
  outline: none;
  opacity: 0.4;
  transition: opacity 0.25s ease, width 0.25s ease, transform 0.25s ease;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.cf-label--delete-x {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: $cf-border;
  border-radius: $cf-border / 2;
  transform: translate(-50%, -50%) rotate(45deg);

  &:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/

@mixin labelSizeModifier($fontSize, $padding, $height) {
  &,
  & + .cf-additional-labels {
    border-radius: $height / 2;
    font-size: $fontSize;
    height: $height - $cf-marg-a;
  }

  .cf-label--name {
    padding: 0 ($padding + $cf-border);
    height: $height - $cf-marg-a;
    line-height: $height - $cf-marg-a;
  }

  &.cf-label--deletable {
    padding-right: $padding + $cf-border;
  }

  &.cf-label--deletable .cf-label--name {
    padding-right: 0;
  }

  .cf-label--delete {
    height: $height - $cf-marg-a;
    transform: translateX($padding - $cf-border);
    width: 0;
  }

  &:hover .cf-label--delete {
    width: $height - $cf-marg-a - $cf-border;
  }
}

.cf-label--xs {
  @include labelSizeModifier($cf-form-xs-font, $cf-form-xs-padding, $cf-form-xs-height);
}

.cf-label--sm {
  @include labelSizeModifier($cf-form-sm-font, $cf-form-sm-padding, $cf-form-sm-height);
}

.cf-label--md {
  @include labelSizeModifier($cf-form-md-font, $cf-form-md-padding, $cf-form-md-height);
}

.cf-label--lg {
  @include labelSizeModifier($cf-form-lg-font, $cf-form-lg-padding, $cf-form-lg-height);
}

.cf-label--colorless {
  font-weight: $cf-font-weight--medium;
  font-style: italic;

  &,
  &:hover {
    background-color: $g6-smoke;
    color: $g13-mist;
  }
}
