@import '../../Styles/variables';

.cf-radio-button {
  input {
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 0;
    height: 0;

    & + .cf-radio-button--label .cf-radio-button--indicator {
      &::before {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $c-pool;
        content: '';
        border-radius: 50%;
        transform: scale(1);
        transition: opacity 0.25s ease, transform 0.25s ease, color 0.25s ease,
          background-color 0.25s ease;
        opacity: 0;
      }
    }

    &:checked + .cf-radio-button--label .cf-radio-button--indicator {
      &::before {
        opacity: 1;
        transform: scale(0.5);
      }
    }

    &:focus + .cf-radio-button--label .cf-radio-button--indicator {
      background-color: $cf-input-background--focused;
      border-color: $cf-input-border--focused;
      box-shadow: $cf-input--box-shadow;
    }
  }
}

.cf-radio-button--label {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  font-weight: $cf-font-weight--medium;
  &:hover > .cf-radio-button--indicator {
    background-color: $cf-input-background--hover;
    border-color: $cf-input-border--hover;
  }
}

.cf-radio-button--indicator {
  display: inline-block;
  border-radius: 50%;
  border-width: $cf-border;
  border-style: solid;
  margin: 0px;
  background-color: $cf-input-background--default;
  border-color: $cf-input-border--default;
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin radioButtonSizeModifier($fontSize, $size, $labelGap) {
  height: $size;

  .cf-radio-button--indicator {
    height: $size;
    width: $size;
    margin-right: $labelGap;
  }

  .cf-radio-button--label {
    font-size: $fontSize;
  }
}

.cf-radio-button__xs {
  @include radioButtonSizeModifier(
    $cf-form-xs-font,
    $cf-form-xs-height,
    $cf-form-xs-padding
  );
}
.cf-radio-button__sm {
  @include radioButtonSizeModifier(
    $cf-form-sm-font,
    $cf-form-sm-height,
    $cf-form-sm-padding
  );
}
.cf-radio-button__md {
  @include radioButtonSizeModifier(
    $cf-form-md-font,
    $cf-form-md-height,
    $cf-form-md-padding
  );
}
.cf-radio-button__lg {
  @include radioButtonSizeModifier(
    $cf-form-lg-font,
    $cf-form-lg-height,
    $cf-form-lg-padding
  );
}
