@import '../../Styles/variables';

.cf-radio-button-group {
  display: flex;
}

.cf-radio-button-group__horizontal {
  flex-direction: row;

  & .cf-radio-button__xs:not(:last-of-type) {
    margin-right: $cf-marg-a;
  }
  & .cf-radio-button__sm:not(:last-of-type) {
    margin-right: $cf-marg-b;
  }
  & .cf-radio-button__md:not(:last-of-type) {
    margin-right: $cf-marg-c;
  }
  & .cf-radio-button__lg:not(:last-of-type) {
    margin-right: $cf-marg-d;
  }
}

.cf-radio-button-group__vertical {
  flex-direction: column;
  & .cf-radio-button__xs:not(:last-of-type) {
    margin-bottom: $cf-marg-b;
  }
  & .cf-radio-button__sm:not(:last-of-type) {
    margin-bottom: $cf-marg-c;
  }
  & .cf-radio-button__md:not(:last-of-type) {
    margin-bottom: $cf-marg-d;
  }
  & .cf-radio-button__lg:not(:last-of-type) {
    margin-bottom: $cf-marg-d;
  }
}
