@import '../../Styles/variables';

/*
  Draggable Resizer
  ------------------------------------------------------------------------------
*/

.cf-draggable-resizer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: stretch;
  flex-wrap: nowrap;

  &.cf-draggable-resizer--horizontal {
    flex-direction: column;

    &.cf-draggable-resizer--dragging,
    &.cf-draggable-resizer--dragging:hover {
      cursor: row-resize !important;
    }
  }

  &.cf-draggable-resizer--vertical {
    flex-direction: row;

    &.cf-draggable-resizer--dragging,
    &.cf-draggable-resizer--dragging:hover {
      cursor: col-resize !important;
    }
  }
}

.cf-draggable-resizer--dragging {
  position: relative;
  z-index: $cf-z--draggable-resizer-mask;
  user-select: none;

  &:after {
    content: '';
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .cf-draggable-resizer--panel {
    pointer-events: none;
  }
}

.cf-draggable-resizer--panel {
  position: relative;
}

.cf-draggable-resizer--handle {
  flex: 0 0 16px;
  background-color: transparent;
  position: relative;
  padding: 4px;
  align-self: center;
  > .cf-draggable-resizer--handle-pill1,
  > .cf-draggable-resizer--gradient1 {
    content: '';
    background-color: $g5-pepper;
    position: absolute;

    transform: translate(-50%, -50%);
    border-radius: 2px;
  }
  > .cf-draggable-resizer--handle-pill2,
  > .cf-draggable-resizer--gradient2 {
    content: '';
    background-color: $g5-pepper;
    position: absolute;

    transform: translate(-50%, -50%);
    border-radius: 2px;
  }

  > .cf-draggable-resizer--handle-pill1,
  > .cf-draggable-resizer--handle-pill2 {
    z-index: 1;
  }

  > .cf-draggable-resizer--handle-pill1--vertical,
  > .cf-draggable-resizer--gradient1--vertical {
    top: 50%;
    left: 6px;
  }
  > .cf-draggable-resizer--handle-pill1--horizontal,
  > .cf-draggable-resizer--gradient1--horizontal {
    top: 6px;
    left: 50%;
  }
  > .cf-draggable-resizer--handle-pill2--vertical,
  > .cf-draggable-resizer--gradient2--vertical {
    top: 50%;
    right: 4px;
  }
  > .cf-draggable-resizer--handle-pill2--horizontal,
  > .cf-draggable-resizer--gradient2--horizontal {
    bottom: 4px;
    left: 50%;
  }

  > .cf-draggable-resizer--gradient1,
  > .cf-draggable-resizer--gradient2 {
    opacity: 0;
    z-index: 2;
    transition: opacity $cf-transition-default, height $cf-transition-default,
      width $cf-transition-default;
  }

  &:hover > .cf-draggable-resizer--gradient1,
  &:hover > .cf-draggable-resizer--gradient2 {
    opacity: 1;
  }

  // Prevents adjacent handles from lighting up when one is being dragged
  .cf-draggable-resizer--dragging
    &:not(.cf-draggable-resizer--handle-dragging):hover:after {
    opacity: 0;
  }
}

// Horizontal Handle Styles
.cf-draggable-resizer--horizontal .cf-draggable-resizer--handle {
  &:hover {
    cursor: row-resize;
  }

  > .cf-draggable-resizer--handle-pill1,
  > .cf-draggable-resizer--handle-pill2,
  > .cf-draggable-resizer--gradient1,
  > .cf-draggable-resizer--gradient2 {
    width: 32px;
    height: 2px;
  }
}

// Vertical Handle Styles
.cf-draggable-resizer--vertical .cf-draggable-resizer--handle {
  &:hover {
    cursor: col-resize;
  }

  > .cf-draggable-resizer--handle-pill1,
  > .cf-draggable-resizer--handle-pill2,
  > .cf-draggable-resizer--gradient1,
  > .cf-draggable-resizer--gradient2 {
    width: 2px;
    height: 32px;
  }
}

// Handle Dragging State
.cf-draggable-resizer--horizontal
  .cf-draggable-resizer--handle-dragging
  > .cf-draggable-resizer--gradient1,
.cf-draggable-resizer--vertical
  .cf-draggable-resizer--handle-dragging
  > .cf-draggable-resizer--gradient1,
.cf-draggable-resizer--horizontal
  .cf-draggable-resizer--handle-dragging
  > .cf-draggable-resizer--gradient2,
.cf-draggable-resizer--vertical
  .cf-draggable-resizer--handle-dragging
  > .cf-draggable-resizer--gradient2 {
  opacity: 1;
}

.cf-draggable-resizer--horizontal
  .cf-draggable-resizer--handle-dragging
  > .cf-draggable-resizer--gradient1,
.cf-draggable-resizer--horizontal
  .cf-draggable-resizer--handle-dragging
  > .cf-draggable-resizer--gradient2 {
  min-width: 32px;
  width: calc(25% - 60px);
}

.cf-draggable-resizer--vertical
  .cf-draggable-resizer--handle-dragging
  > .cf-draggable-resizer--gradient1,
.cf-draggable-resizer--vertical
  .cf-draggable-resizer--handle-dragging
  > .cf-draggable-resizer--gradient2 {
  min-height: 32px;
  height: calc(25% - 60px);
}

.cf-draggable-resizer-container {
  display: flex;
}

.cf-draggable-resizer-container-flex--column {
  flex-direction: column;
}

.cf-draggable-resizer-container-flex--row {
  flex-direction: row;
}

.cf-draggable-resizer-collapse-button {
  width: 24px !important;
  height: 24px;
  background: transparent !important;
  color: $g9-mountain;
}

.cf-draggable-resizer-collapse-icon--horizontal {
  transform: rotate(90deg);
}
