@import '../../Styles/variables';

/*
  Draggable Resizer
  ------------------------------------------------------------------------------
*/

.cf-draggable-resizer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: stretch;
  flex-wrap: nowrap;

  &.cf-draggable-resizer--horizontal {
    flex-direction: column;

    &.cf-draggable-resizer--dragging,
    &.cf-draggable-resizer--dragging:hover {
      cursor: row-resize !important;
    }
  }

  &.cf-draggable-resizer--vertical {
    flex-direction: row;

    &.cf-draggable-resizer--dragging,
    &.cf-draggable-resizer--dragging:hover {
      cursor: col-resize !important;
    }
  }
}

.cf-draggable-resizer--dragging {
  position: relative;
  z-index: $cf-z--draggable-resizer-mask;
  user-select: none;

  &:after {
    content: '';
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .cf-draggable-resizer--panel {
    pointer-events: none;
  }
}

.cf-draggable-resizer--panel {
  position: relative;
}

.cf-draggable-resizer--handle {
  flex: 0 0 8px;
  background-color: transparent;
  position: relative;

  &:before,
  > .cf-draggable-resizer--gradient {
    content: '';
    background-color: $g5-pepper;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
  }
  
  &:before {
    z-index: 1;
  }

  > .cf-draggable-resizer--gradient {
    opacity: 0;
    z-index: 2;
    transition: opacity 0.25s ease, height 0.2s ease, width 0.2s ease;
  }

  &:hover > .cf-draggable-resizer--gradient {
    opacity: 1;
  }

  // Prevents adjacent handles from lighting up when one is being dragged
  .cf-draggable-resizer--dragging &:not(.cf-draggable-resizer--handle-dragging):hover:after {
    opacity: 0;
  }
}

// Horizontal Handle Styles
.cf-draggable-resizer--horizontal .cf-draggable-resizer--handle {
  &:hover {
    cursor: row-resize;
  }

  &:before,
  > .cf-draggable-resizer--gradient {
    width: 60px;
    height: 4px;
  }
}

// Vertical Handle Styles
.cf-draggable-resizer--vertical .cf-draggable-resizer--handle {
  &:hover {
    cursor: col-resize;
  }

  &:before,
  > .cf-draggable-resizer--gradient {
    width: 4px;
    height: 60px;
  }
}

// Handle Dragging State
.cf-draggable-resizer--horizontal .cf-draggable-resizer--handle-dragging > .cf-draggable-resizer--gradient,
.cf-draggable-resizer--vertical .cf-draggable-resizer--handle-dragging > .cf-draggable-resizer--gradient {
  opacity: 1;
}

.cf-draggable-resizer--horizontal .cf-draggable-resizer--handle-dragging > .cf-draggable-resizer--gradient {
  width: calc(100% - 60px);
}

.cf-draggable-resizer--vertical .cf-draggable-resizer--handle-dragging > .cf-draggable-resizer--gradient {
  height: calc(100% - 60px);
}
