@import "../../../Styles/variables";

/*
  Resource List
  ------------------------------------------------------------------------------
*/

.cf-resource-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cf-resource-list--header,
.cf-resource-list--body {
  width: 100%;
}

/*
  Header & Sorting
  ------------------------------------------------------------------------------
*/

.cf-resource-list--header {
  display: flex;
  align-items: center;
  padding-bottom: $cf-marg-c;
  justify-content: space-between;
  width: 100%;
}

.cf-resource-list--filter {
  min-width: 10px;
}

.cf-resource-list--sorting {
  display: flex;
  align-items: center;
}

.cf-resource-list--sorter {
  user-select: none;
  font-size: $cf-form-md-font;
  font-weight: $cf-font-weight--medium;
  text-transform: uppercase;
  color: $g11-sidewalk;
  transition: color 0.25s ease;
  margin-left: $cf-marg-c;
  display: flex;
  align-items: center;
  align-content: center;

  &:hover {
    color: $g18-cloud;
    cursor: pointer;
  }

  &.cf-resource-list--sort-descending,
  &.cf-resource-list--sort-ascending {
    color: $c-pool;
  }
}

.cf-resource-list--sorting:only-child .cf-resource-list--sorter:first-child {
  margin-left: 0;
}

.cf-resource-list--sort-arrow {
  width: $cf-marg-c;
  height: $cf-marg-c;
  position: relative;
  margin-left: $cf-marg-a;
  transition: opacity 0.25s ease;
  opacity: 0;

  .cf-resource-list--sort-descending &,
  .cf-resource-list--sort-ascending & {
    opacity: 1;
  }

  > span.cf-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.25s ease;
  }

  .cf-resource-list--sort-descending & > span.cf-icon {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .cf-resource-list--sort-ascending & > span.cf-icon {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
