@import '../../Styles/modules';

/*
    Navigation Menu
    ----------------------------------------------------------------------------
*/

.cf-nav {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9980;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  display: flex;

  &.cf-nav__expanded {
    transform: translateX(0);
  }
}

.cf-nav--mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $page--background;
  opacity: 0;
  pointer-events: none;
  z-index: 9970;
  transition: opacity 0.25s ease;

  .cf-nav__expanded + & {
    opacity: 0.66;
  }
}

.cf-nav--toggle {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: $nav-menu--size;
  height: $nav-menu--size;

  &:hover {
    cursor: pointer;
  }
}

.cf-nav--hamburger {
  position: absolute;
  height: $nav-menu--size;
  width: $nav-menu--size;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
}

.cf-nav--hamburger-top,
.cf-nav--hamburger-middle,
.cf-nav--hamburger-bottom {
  width: ceil($nav-menu--size * 0.4);
  height: $cf-border;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: background-color 0.25s ease, transform 0.25s ease;
  background-color: $g11-sidewalk;

  .cf-nav--toggle:hover & {
    background-color: $c-pool;
  }
}
.cf-nav--hamburger-top {
  transform: translate(-50%, -325%);
}
.cf-nav--hamburger-middle {
  transform: translate(-50%, -50%);
}
.cf-nav--hamburger-bottom {
  transform: translate(-50%, 225%);
}

.cf-nav--toggle__expanded {
  .cf-nav--hamburger {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .cf-nav--hamburger-top,
  .cf-nav--hamburger-middle,
  .cf-nav--hamburger-bottom {
    background-color: $c-neutrino;
  }

  .cf-nav--hamburger-top,
  .cf-nav--hamburger-bottom {
    transform: translate(-50%, -50%);
  }

  .cf-nav--hamburger-middle {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &:hover {
    .cf-nav--hamburger-top,
    .cf-nav--hamburger-middle,
    .cf-nav--hamburger-bottom {
      background-color: $g20-white;
    }
  }
}

/*
    Navigation Items
    ----------------------------------------------------------------------------
*/

.cf-nav--menu {
  height: 100%;
  @include gradient-h($nav-menu--bg,$nav-menu--bg-accent);
  padding-top: ceil($nav-menu--size * 0.75);
  padding-left: ceil($nav-menu--size * 0.75);
}

.cf-nav--item {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.cf-nav--item-icon {
  display: block;
  width: $nav-menu--size / 2;
  height: $nav-menu--size;
  position: absolute;
  top: 0;
  left: 0;
  
  > .cf-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: ceil($nav-menu--size * 0.4222);
  }
  
  &,
  &:link,
  &:active,
  &:visited {
    transition: text-shadow 0.4s ease;
    color: $g11-sidewalk;
  }
}

.cf-nav--item-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: $cf-radius;
  overflow: hidden;
}

.cf-nav--item-header {
  display: block;
  height: $nav-menu--size;
  line-height: $nav-menu--size;
  font-size: $form-lg-font;
  padding: 0px $nav-menu--gutter;
  white-space: nowrap;
  
  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    font-weight: 500;
    transition: none;
    color: $g20-white;
  }
}

// Hover State
.cf-nav--item:hover {
  z-index: 9000;

  .cf-nav--item-icon {
    color: $g20-white;
    background-color: $nav-menu--bg;
    border-radius: 0;
  }

  .cf-nav--item-menu {
    display: flex;
  }
}

// Active State
.cf-nav--item.active {
  .cf-nav--item-icon {
    color: $g20-white;
    background-color: $g6-smoke;
    text-shadow:
      0 0 9px $c-laser,
      0 0 15px $c-ocean,
      0 0 20px $c-amethyst;
  }
}

// Active Hover State
.cf-nav--item.active:hover {
  .cf-nav--item-icon {
    color: $g20-white;
    background-color: $nav-menu--bg;
    text-shadow:
      0 0 9px $c-yeti,
      0 0 15px $c-hydrogen,
      0 0 20px $c-laser;
  }
}

/*
    Navigation Menu (Large Screens)
    ----------------------------------------------------------------------------
*/
@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-nav--toggle,
  .cf-nav--mask {
    display: none;
  }

  .cf-nav {
    position: static;
    top: initial;
    left: initial;
    flex-direction: column;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $nav-menu--size;
  }
  
  .cf-nav--menu {
    border-radius: 0 $cf-radius $cf-radius 0;
    display: flex;
  }

  .cf-nav--item-menu {
    top: 0;
    left: $nav-menu--size;
    border-radius: 0 $cf-radius $cf-radius 0;
    transform: translateX(0);
    @include gradient-h($nav-menu--bg,$nav-menu--bg-accent);
  }

  .cf-nav--item:first-child .cf-nav--item-icon {
    border-bottom-left-radius: 0;
    border-top-right-radius: $cf-radius;
  }

  .cf-nav--item:last-child .cf-nav--item-icon {
    border-bottom-right-radius: $cf-radius;
  }

  .cf-nav--item:hover .cf-nav--item-icon {
    border-radius: 0;
  }
}

// Sub Menu Items
.cf-nav--sub-item {
  padding: 6px $nav-menu--gutter;
  user-select: none;
  font-size: 13px;
  white-space: nowrap;
  position: relative;
  z-index: 2;
  
  &,
  &:link,
  &:visited,
  &:active {
    font-weight: 600;
    color: $c-neutrino;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include gradient-h($c-laser, $c-potassium);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  &:hover,
  &.active {
    color: $g20-white;
    cursor: pointer;

    &:after {
      opacity: 1;
    }
  }

  &:last-child {
    border-bottom-right-radius: $cf-radius;
  }
}

/*
  Link Styles
  ------------------------------------------------------------------------------
*/

.cf-nav--item,
.cf-nav--item-header,
.cf-nav--sub-item {
  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}
