@import '../../Styles/variables';

/*
    Navigation Menu
    ----------------------------------------------------------------------------
*/

.cf-nav {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $cf-z--nav-menu;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  display: flex;

  &.cf-nav__expanded {
    transform: translateX(0);
  }
}

.cf-nav--mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $cf-page--background;
  opacity: 0;
  pointer-events: none;
  z-index: $cf-z--nav-mask;
  transition: opacity 0.25s ease;

  .cf-nav__expanded + & {
    opacity: 0.66;
  }
}

.cf-nav--toggle {
  z-index: $cf-z--nav-toggle;
  position: absolute;
  top: 0;
  left: 0;
  width: $cf-nav-menu--size;
  height: $cf-nav-menu--size;

  &:hover {
    cursor: pointer;
  }
}

.cf-nav--hamburger {
  position: absolute;
  height: $cf-nav-menu--size;
  width: $cf-nav-menu--size;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease;
}

.cf-nav--hamburger-top,
.cf-nav--hamburger-middle,
.cf-nav--hamburger-bottom {
  width: ceil($cf-nav-menu--size * 0.4);
  height: $cf-border;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: background-color 0.4s ease, transform 0.4s ease;
  background-color: $g11-sidewalk;

  .cf-nav--toggle:hover & {
    background-color: $c-pool;
  }
}
.cf-nav--hamburger-top {
  transform: translate(-50%, -325%);
}
.cf-nav--hamburger-middle {
  transform: translate(-50%, -50%);
}
.cf-nav--hamburger-bottom {
  transform: translate(-50%, 225%);
}

.cf-nav--toggle__expanded {
  .cf-nav--hamburger {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .cf-nav--hamburger-top,
  .cf-nav--hamburger-middle,
  .cf-nav--hamburger-bottom {
    background-color: $c-neutrino;
  }

  .cf-nav--hamburger-top,
  .cf-nav--hamburger-bottom {
    transform: translate(-50%, -50%);
  }

  .cf-nav--hamburger-middle {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &:hover {
    .cf-nav--hamburger-top,
    .cf-nav--hamburger-middle,
    .cf-nav--hamburger-bottom {
      background-color: $g20-white;
    }
  }
}

/*
  Link Styles
  ------------------------------------------------------------------------------
*/

.cf-nav--item,
.cf-nav--item-header,
.cf-nav--sub-item {
  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

/*
    Navigation Items
    ----------------------------------------------------------------------------
*/

.cf-nav--menu {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  @include gradient-h($cf-nav-menu--bg,$cf-nav-menu--bg-accent);
  padding-top: ceil($cf-nav-menu--size * 1);
  padding-left: $cf-marg-b;
  padding-bottom: $cf-marg-b;
}

.cf-nav--item {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.cf-nav--item-icon {
  display: block;
  width: ceil($cf-nav-menu--size * 0.75);
  height: ceil($cf-nav-menu--size * 0.75);
  position: absolute;
  pointer-events: none;
  z-index: 1;
  top: 0;
  left: 0;
  
  > .cf-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: ceil($cf-nav-menu--size * 0.3);
  }
  
  &,
  &:link,
  &:active,
  &:visited {
    transition: text-shadow 0.4s ease, color 0.25s ease;
    color: $c-yeti;
  }
}

.cf-nav--item-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  flex: 1 0 0;
}

.cf-nav--item-header {
  display: block;
  height: ceil($cf-nav-menu--size * 0.75);
  line-height: ceil($cf-nav-menu--size * 0.75);
  font-size: $cf-form-lg-font;
  padding: 0 ceil($cf-nav-menu--size * 0.75);
  white-space: nowrap;
  border-radius: $cf-radius 0 0 $cf-radius;
  
  &,
  &:link,
  &:visited,
  &:active {
    font-weight: $cf-font-weight--medium;
    transition: none;
    color: $c-yeti;
  }

  &:hover {
    color: $g20-white;
    @include gradient-h($cf-nav-menu--bg-hover, $cf-nav-menu--bg-hover-accent);
  }
}

// Active State
.cf-nav--item.active {
  .cf-nav--item-header {
    color: $g20-white;
    @include gradient-h($cf-nav-menu--bg-hover, $cf-nav-menu--bg-hover-accent);
  }
  .cf-nav--item-icon {
    color: $g20-white;
    text-shadow:
      0 0 9px $c-laser,
      0 0 15px $c-ocean,
      0 0 20px $c-amethyst;
  }
}

// Sub Menu Items
.cf-nav--sub-item {
  margin-left: ceil($cf-nav-menu--size * 0.75);
  padding: 6px ceil($cf-nav-menu--gutter * 0.75);
  user-select: none;
  font-size: 13px;
  white-space: nowrap;
  position: relative;
  z-index: 2;
  
  &,
  &:link,
  &:visited,
  &:active {
    font-weight: $cf-font-weight--medium;
    color: $c-neutrino;
  }
  
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $cf-radius 0 0 $cf-radius;
    @include gradient-h($cf-nav-menu--bg-hover, $cf-nav-menu--bg-hover-accent);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  &:hover,
  &.active {
    color: $g20-white;
    cursor: pointer;

    &:after {
      opacity: 1;
    }
  }
}

/*
    Navigation Menu (Large Screens)
    ----------------------------------------------------------------------------
*/
@media screen and (min-width: $cf-nav-menu--breakpoint) {
  .cf-nav--toggle,
  .cf-nav--mask {
    display: none;
  }

  .cf-nav,
  .cf-nav.cf-nav__expanded {
    position: static;
    top: initial;
    left: initial;
    flex-direction: column;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $cf-nav-menu--size;
    transform: translateX(0);
    transition: none;
  }
  
  .cf-nav--menu {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    border-radius: 0 $cf-radius $cf-radius 0;
    display: flex;
    background-image: none;
    background-color: $g3-castle;
    overflow: visible;
  }

  .cf-nav--item {
    width: $cf-nav-menu--size;
    height: $cf-nav-menu--size;

    &:hover {
      z-index: 9999;
    }
  }

  .cf-nav--item-icon {
    width: $cf-nav-menu--size;
    height: $cf-nav-menu--size;
    pointer-events: all;
    z-index: 2;
    
    &,
    &:link,
    &:active,
    &:visited {
      transition: text-shadow 0.4s ease;
      color: $g13-mist;
    }

    > .cf-icon {
      font-size: ceil($cf-nav-menu--size * 0.4222);
    }

    .cf-nav--item:first-child & {
      border-top-right-radius: $cf-radius;
    }

    .cf-nav--item:last-child & {
      border-bottom-right-radius: $cf-radius;
    }

    .cf-nav--item:hover & {
      &,
      &:link,
      &:active,
      &:visited {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $cf-nav-menu--bg;
        color: $g20-white;
      }
    }

    .cf-nav--item.active & {
      &,
      &:link,
      &:active,
      &:visited {
        background-color: $g6-smoke;
        color: $g20-white;
      }
    }
    .cf-nav--item.active:hover & {
      &,
      &:link,
      &:active,
      &:visited,
      &:hover {
        background-color: $cf-nav-menu--bg;
        text-shadow:
          0 0 9px $c-yeti,
          0 0 15px $c-hydrogen,
          0 0 20px $c-laser;
      }
    }
  }

  .cf-nav--item-menu {
    display: none;
    position: absolute;
    top: 0;
    left: $cf-nav-menu--size;
    align-items: stretch;
    border-radius: 0 $cf-radius $cf-radius 0;
    @include gradient-h($cf-nav-menu--bg, $cf-nav-menu--bg-accent);

    .cf-nav--item:hover & {
      display: flex;
    }
  }

  .cf-nav--item-header {
    height: $cf-nav-menu--size;
    line-height: $cf-nav-menu--size;
    padding: 0 $cf-nav-menu--gutter;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &,
    .cf-nav--item.active & {
      &,
      &:link,
      &:active,
      &:visited,
      &:hover {
        background-image: none;
      }
    }
  }

  .cf-nav--sub-item {
    padding: 6px $cf-nav-menu--gutter;
    margin: 0;

    &:after {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}


