@import '../../../Styles/variables';

/*
  Popover Styles
  ------------------------------------------------------------------------------
*/

.cf-popover-portal {
  @include portal-style($cf-z--popovers);
}

.cf-popover {
  position: fixed;
  z-index: 9999;

  &:focus {
    outline: none;
  }
}

.cf-popover--contents {
  font-size: $cf-text-base;
  background-color: $g2-kevlar;
  border-radius: $cf-radius + $cf-border;
  position: relative;
  
  .cf-popover__solid & {
    box-shadow: 0 2px 5px 0.6px rgba($g0-obsidian, 0.2);
  }

  .cf-popover__outline & {
    border-style: solid;
    border-width: $cf-border;
  }
}

.cf-popover__outline button.cf-dismiss-button {
  top: -$cf-border;
  right: -$cf-border;
}

.cf-popover--caret {
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/

@mixin popoverColorModifier($solidColor, $outlineColor, $glowColor, $textColor) {
  // Solid Type
  &.cf-popover__solid .cf-popover--contents {
    background-color: $solidColor;
    color: $textColor;
  }
  &.cf-popover__solid .cf-popover--caret {
    border-bottom-color: $solidColor;
  }
  // Outline Type
  &.cf-popover__outline .cf-popover--contents {
    border-color: $outlineColor;
    box-shadow: 0 0 5px 0 $glowColor;
  }
  &.cf-popover__outline .cf-popover--caret {
    border-bottom-color: $outlineColor;
  }
}

.cf-popover__default {
  @include popoverColorModifier($g6-smoke, $g11-sidewalk, $g8-storm, $g15-platinum);
}
.cf-popover__primary {
  @include popoverColorModifier($c-pool, $c-pool, $c-ocean, $g20-white);
}
.cf-popover__secondary {
  @include popoverColorModifier($c-star, $c-comet, $c-star, $g20-white);
}
.cf-popover__success {
  @include popoverColorModifier($c-rainforest, $c-honeydew, $c-rainforest, $g20-white);
}
.cf-popover__warning {
  @include popoverColorModifier($c-pineapple, $c-thunder, $c-tiger, $g3-castle);
}
.cf-popover__danger {
  @include popoverColorModifier($c-curacao, $c-dreamsicle, $c-fire, $g20-white);
}

/*
  Refless Variation
  ------------------------------------------------------------------------------
*/

.cf-refless-popover--trigger {
  &,
  &:hover {
    cursor: pointer;
  }

  > * {
    pointer-events: none;
  }
}

/*
  Optional Default Styling
  ------------------------------------------------------------------------------
*/

.cf-popover--contents__default-styles {
  padding: $cf-marg-c;
  font-size: $cf-text-base;
  line-height: 1.5em;
  font-weight: $cf-font-weight--medium;
  color: $g13-mist;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  strong {
    color: $g18-cloud;
    font-weight: $cf-font-weight--bold;
  }

  .cf-popover__solid.cf-popover__primary &,
  .cf-popover__solid.cf-popover__secondary &,
  .cf-popover__solid.cf-popover__success &,
  .cf-popover__solid.cf-popover__danger & {
    color: rgba($g20-white, 0.8);

    strong {
      color: $g20-white;
    }
  }
  .cf-popover__solid.cf-popover__warning & {
    color: rgba($g3-castle, 0.8);

    strong {
      color: $g3-castle;
    }
  }
}
