@import '../../../Styles/variables';

/*
  Popover Styles
  ------------------------------------------------------------------------------
*/

.cf-popover {
  position: fixed;
  z-index: 9999;

  &:focus {
    outline: none;
  }
}

.cf-popover--contents {
  @extend %backdrop-blur;
  font-size: $cf-text-base;
  border-radius: $cf-radius + $cf-border;
  position: relative;
  color: $cf-white;
  box-shadow: 0px 0px 16px rgba($cf-grey-95, 0.3);
}

.cf-popover__outline button.cf-dismiss-button {
  top: -$cf-border;
  right: -$cf-border;
}

/*
  Color Modifiers
  ------------------------------------------------------------------------------
*/

@mixin popoverColorModifier($backgroundColor) {
  .cf-popover--contents {
    background-color: rgba($cf-grey-15, 0.975);
  }

  @supports (
    (backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px))
  ) {
    .cf-popover--contents {
      background-color: rgba($backgroundColor, 0.1);
      box-shadow: 0px 0 16px rgba($cf-grey-5, 0.3);
    }
  }
}

.cf-popover__default,
.cf-popover__primary,
.cf-popover__secondary,
.cf-popover__tertiary,
.cf-popover__success,
.cf-popover__warning,
.cf-popover__danger {
  @include popoverColorModifier($cf-grey-95);
}

/*
  Refless Variation
  ------------------------------------------------------------------------------
*/

.cf-refless-popover--trigger {
  &,
  &:hover {
    cursor: pointer;
  }

  > * {
    pointer-events: none;
  }
}

/*
  Optional Default Styling
  ------------------------------------------------------------------------------
*/

.cf-popover--contents__default-styles {
  padding: $cf-space-s;
  font-size: $cf-text-base;
  font-weight: $cf-font-weight--medium;
  color: $cf-white;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  strong {
    color: $g18-cloud;
    font-weight: $cf-font-weight--bold;
  }

  .cf-popover__solid.cf-popover__primary &,
  .cf-popover__solid.cf-popover__secondary &,
  .cf-popover__solid.cf-popover__success &,
  .cf-popover__solid.cf-popover__danger & {
    color: rgba($g20-white, 0.8);

    strong {
      color: $g20-white;
    }
  }
  .cf-popover__solid.cf-popover__warning & {
    color: rgba($g3-castle, 0.8);

    strong {
      color: $g3-castle;
    }
  }
}
