@import '../../Styles/variables';

/*
  Alert
  ------------------------------------------------------------------------------
*/

$alert--icon-padding: $cf-marg-d + $cf-marg-a;

.cf-alert {
  width: 100%;
  border-radius: $cf-radius;
  padding: $cf-border;
  font-size: $cf-form-md-font;
  user-select: none;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul,
  li {
    font-weight: $cf-font-weight--medium;
    strong {
      font-weight: $cf-font-weight--bold;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: $cf-form-md-font;
  }
}

.cf-alert--contents {
  width: 100%;
  border-radius: $cf-radius - 1px;
  padding: $cf-marg-b;
}

.cf-alert-content--primary {
  background-color: $cf-elephant;
}

.cf-alert-content--success {
  background-color: $cf-seaweed;
}

.cf-alert-content--warning {
  background-color: $cf-verdun-green;
}

.cf-alert-content--danger {
  background-color: $cf-thunder;
}

.cf-alert--has-icon {
  padding-left: $alert--icon-padding;
  position: relative;
}

.cf-alert--icon {
  position: absolute;
  top: 50%;
  left: $alert--icon-padding * 0.5;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: rgba($g3-castle, 0.85);
}

/*  Color Modifiers */
@mixin alertColorModifier($mainColor, $textColor, $boldColor) {
  color: $textColor;

  strong {
    color: $boldColor;
  }

  background: $mainColor
}

.cf-alert--primary {
  @include alertColorModifier($cf-turquoise,  $cf-turquoise, $cf-white);
}

.cf-alert--success {
  @include alertColorModifier(
    $cf-lime-green,
    $cf-lime-green,
    $g20-white
  );
}

.cf-alert--warning {
  @include alertColorModifier($cf-chartreuse, $cf-chartreuse, $g20-white);
}

.cf-alert--danger {
  @include alertColorModifier(
    $cf-carnation,
    $cf-carnation,
    $g20-white
  );
}
