@import '../../../Styles/variables';

/*
   Panels
   -----------------------------------------------------------------------------
*/

.cf-panel {
  border-radius: $cf-radius;
  position: relative;
  @extend %panel-shadow;
}

.cf-panel--body {
  width: 100%;

  .cf-panel--header + & {
    padding-top: 0;
  }
}

.cf-panel--header {
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 1em;
    @extend %no-user-select;
  }

  &.cf-flex-box__row {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.cf-flex-box__column {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.cf-panel--footer {
  border-radius: 0 0 $cf-radius $cf-radius;
  border-top: $cf-border solid rgba($cf-grey-95, 0.15);
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin panelHeaderSizeModifier($padding) {
  padding: ($padding * 2) ($padding * 2) $padding;
}

.cf-panel--header__xs {
  @include panelHeaderSizeModifier($cf-space-2xs);
}
.cf-panel--header__sm {
  @include panelHeaderSizeModifier($cf-space-xs);
}
.cf-panel--header__md {
  @include panelHeaderSizeModifier($cf-space-s);
}
.cf-panel--header__lg {
  @include panelHeaderSizeModifier($cf-space-s);
}

@mixin panelBodySizeModifier($padding) {
  padding: $padding * 2;

  & > * {
    margin: 0;

    & + * {
      margin-top: $padding;
    }
  }
}

.cf-panel--body__xs {
  @include panelBodySizeModifier($cf-space-2xs);
}
.cf-panel--body__sm {
  @include panelBodySizeModifier($cf-space-xs);
}
.cf-panel--body__md {
  @include panelBodySizeModifier($cf-space-s);
}
.cf-panel--body__lg {
  @include panelBodySizeModifier($cf-space-s);
}

@mixin panelFooterSizeModifier($padding, $fontSize) {
  padding: $padding ($padding * 2);
}

.cf-panel--footer__xs {
  @include panelFooterSizeModifier($cf-space-2xs, $cf-text-base-0);
}
.cf-panel--footer__sm {
  @include panelFooterSizeModifier($cf-space-xs, $cf-text-base-0);
}
.cf-panel--footer__md {
  @include panelFooterSizeModifier($cf-space-s, $cf-text-base-1);
}
.cf-panel--footer__lg {
  @include panelFooterSizeModifier($cf-space-s, $cf-text-base-1);
}

/*
  Contrast Text Modifiers
  ------------------------------------------------------------------------------
*/

.cf-panel__dark-text {
  .cf-panel--header,
  .cf-panel--body,
  .cf-panel--footer {
    color: $cf-grey-5;
  }
}

.cf-panel__light-text {
  .cf-panel--header,
  .cf-panel--body,
  .cf-panel--footer {
    color: $cf-white;
  }
}

/*
  Horizontal Rules directly inside Panels
  ------------------------------------------------------------------------------
*/

.cf-panel--body hr {
  width: 100%;
  margin: $cf-marg-c 0;
}

/*
   Bordered Panels
   -----------------------------------------------------------------------------
*/

.cf-panel__bordered {
  button.cf-dismiss-button {
    top: -$cf-border;
    right: -$cf-border;
  }
}
