@import '../../Styles/modules';

/*
  Date Range Picker Styles
  ------------------------------------------------------------------------------
*/

.range-picker {
  position: fixed;
  text-align: center;
  background-color: $g1-raven;
  border: $cf-border solid $c-pool;
  padding: $cf-marg-b;
  border-radius: $cf-radius;
  z-index: 9999;

  .range-picker--date-pickers {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $cf-marg-b;
  }
}

.range-picker--submit {
  margin-bottom: $cf-marg-b;
}

.range-picker--dismiss {
  position: absolute;
  z-index: 5000;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 24px;
  height: 24px;
  outline: none;
  border-radius: 50%;
  background-color: $c-pool;
  transition: background-color 0.25s ease;
  border: 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 3px;
    top: 50%;
    left: 50%;
    border-radius: 1px;
    background-color: $g20-white;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    background-color: $c-laser;
    cursor: pointer;
  }
}
