@import '../../../Styles/variables';

/*
  Confirmation Button Styles
  ------------------------------------------------------------------------------
*/

.cf-confirmation-button--container {
  display: flex;
  align-items: center;
  padding: $cf-marg-b;
}

.cf-confirmation-button--label {
  margin: 0 $cf-marg-b;
  white-space: nowrap;
  font-weight: 500;
  user-select: none;
  font-size: $form-md-font;
}
