@import '../../../Styles/variables';

/*
  CTA (Call to Action) Button Styles
  ------------------------------------------------------------------------------
*/

.cf-button-lg.cf-cta-button {
  > .cf-button--label {
    font-weight: $cf-font-weight--medium;
  }
}

// Square Shape
.cf-button-lg.cf-cta-button.cf-button-square {
  > .cf-button--label {
    display: none;
  }

  > .cf-button-icon {
    margin: auto;
  }
}
