@import '../../../Styles/variables';

/*
  Dismiss Button
  ------------------------------------------------------------------------------
*/

button.cf-dismiss-button {
  &,
  &:after {
    border-radius: 50%;
  }

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}

.cf-dismiss-button--x {
  transition: opacity $cf-transition-default;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: $cf-space-xs;
    height: $cf-border;
    background-color: $cf-grey-1;
    border-radius: $cf-border * 1.5 * 0.5;
    top: 50%;
    left: 50%;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  button.cf-dismiss-button:hover &,
  button.cf-dismiss-button:focus & {
    opacity: 1;
  }
}
