@import '../../../Styles/variables';

/*
  Link Button
  ------------------------------------------------------------------------------
*/

a:link,
a:visited,
a:hover,
a:active {
  &.cf-button {
    color: $cf-white;
  }
  &.cf-button-success,
  &.cf-button-danger,
  &.cf-button-primary {
    color: $cf-grey-1;
  }
}
