@import '../../Styles/modules';

/*
  Text Block
  ------------------------------------------------------------------------------
*/

.cf-text-block {
  font-weight: 600;
  border-radius: $cf-radius;
  white-space: nowrap;
  user-select: none;
  background-color: $g5-pepper;
  color: $c-laser;
  flex-basis: 0;
  flex-grow: 0;
}

.cf-text-block__monospace {
  font-family: $cf-code-font;
}

/*
  Text Block Size Modifiers
  ------------------------------------------------------------------------------
*/

@mixin textBlockSizeModifier($fontSize, $height, $padding) {
  font-size: $fontSize;
  line-height: $height;
  padding: 0 $padding;
  height: $height;
}

.cf-text-block__xs {
  @include textBlockSizeModifier($form-xs-font, $form-xs-height, $form-xs-padding);
}
.cf-text-block__sm {
  @include textBlockSizeModifier($form-sm-font, $form-sm-height, $form-sm-padding);
}
.cf-text-block__md {
  @include textBlockSizeModifier($form-md-font, $form-md-height, $form-md-padding);
}
.cf-text-block__lg {
  @include textBlockSizeModifier($form-lg-font, $form-lg-height, $form-lg-padding);
}
