@import '../../Styles/variables';

/*
  Text Block
  ------------------------------------------------------------------------------
*/

.cf-text-block {
  font-weight: $cf-font-weight--medium;
  border-radius: $cf-radius;
  white-space: nowrap;
  user-select: none;
  background-color: $g5-pepper;
  color: $c-laser;
  flex-basis: 0;
  flex-grow: 0;
}

.cf-text-block__monospace {
  font-family: $cf-code-font;
}

/*
  Text Block Size Modifiers
  ------------------------------------------------------------------------------
*/

@mixin textBlockSizeModifier($fontSize, $height, $padding) {
  font-size: $fontSize;
  line-height: $height;
  padding: 0 $padding;
  height: $height;
}

.cf-text-block__xs {
  @include textBlockSizeModifier($cf-form-xs-font, $cf-form-xs-height, $cf-form-xs-padding);
}
.cf-text-block__sm {
  @include textBlockSizeModifier($cf-form-sm-font, $cf-form-sm-height, $cf-form-sm-padding);
}
.cf-text-block__md {
  @include textBlockSizeModifier($cf-form-md-font, $cf-form-md-height, $cf-form-md-padding);
}
.cf-text-block__lg {
  @include textBlockSizeModifier($cf-form-lg-font, $cf-form-lg-height, $cf-form-lg-padding);
}
