@import '../../../Styles/variables';

/*
  Error Tooltip Styles
  ------------------------------------------------------------------------------
*/

.cf-error-tooltip {
  color: $cf-red;
  display: inline-flex;
  justify-content: center;
  position: relative;
  user-select: none;
  transition: color $cf-transition-default;

  &:hover {
    cursor: help;
    color: rgba($cf-red, 0.85);
  }
}
