@import '../../../Styles/variables';

/*
  Question Mark Tooltip Styles
  ------------------------------------------------------------------------------
*/

.cf-question-mark-tooltip {
  border-radius: 50%;
  background-color: $g8-storm;
  color: $g1-raven;
  font-weight: $cf-font-weight--black;
  display: inline-flex;
  justify-content: center;
  position: relative;
  user-select: none;

  &:hover {
    cursor: help;
  }
}

.cf-question-mark-tooltip__active {
  &.cf-question-mark-tooltip__default {
    background-color: $g13-mist;
  }

  &.cf-question-mark-tooltip__primary {
    background-color: $cf-turquoise;
  }

  &.cf-question-mark-tooltip__secondary {
    background-color: $cf-lavender;
  }

  &.cf-question-mark-tooltip__success {
    background-color: $cf-green;
  }

  &.cf-question-mark-tooltip__warning {
    background-color: $c-thunder;
  }

  &.cf-question-mark-tooltip__danger {
    background-color: $cf-red;
  }
}
