@import '../../../Styles/modules';

/*
  Funnel Page
  ------------------------------------------------------------------------------
*/

$funnel-page--base-font: 16px;
$funnel-page--tiny-gutter: $cf-marg-b;
$funnel-page--gutter: $cf-marg-d;

.cf-funnel-page {
  width: 100%;
  height: 100%;
  flex: 1 0 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cf-funnel-page--scroll {
  z-index: 3;
}

.cf-funnel-page--gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;

  & + .cf-funnel-page--gradient {
    z-index: 1;

    & + .cf-funnel-page--gradient {
      z-index: 2;
    }
  }
}

.cf-funnel-page--content {
  margin: 0 auto;
  width: 100%;
  max-width: $page--funnel-max-width;
  text-align: center;
  padding: $funnel-page--tiny-gutter;
  font-size: $funnel-page--base-font;
  color: $c-moonstone;

  h1,
  h2,
  h3,
  strong {
    color: $g20-white;
  }

  h1,
  h2,
  h3 {
    font-weight: 300;
  }

  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  strong {
    font-weight: 900;
  }
}

@media screen and (min-width: $grid--breakpoint-md) {
  .cf-funnel-page--content {
    padding: $funnel-page--gutter;
  }
}

.cf-funnel-page--logo {
  width: 100%;
  display: flex;
}

/*
  Funnel Page Footer
  ------------------------------------------------------------------------------
*/

.cf-funnel-page--footer {
  width: 100%;
  background-color: $g2-kevlar;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $cf-marg-c;
    transform: translateY(-100%);
    background-color: #f00;
    pointer-events: none;
    z-index: 5;
    @include gradient-v(rgba($g0-obsidian, 0), rgba($g0-obsidian, 0.25));
  }
}

.cf-funnel-page--footer-section,
.cf-funnel-page--footer-container {
  display: flex;
  justify-content: center;
}

.cf-funnel-page--footer-container {
  width: 100%;
  padding: 0 $funnel-page--tiny-gutter;
  max-width: $page--funnel-max-width;
}

@media screen and (min-width: $grid--breakpoint-md) {
  .cf-funnel-page--footer-container {
    padding: 0 $funnel-page--gutter;
  }
}