/*
  Empty States
  ------------------------------------------------------------------------------
*/

@import '../../Styles/modules';

.cf-empty-state {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  user-select: none;
  color: $empty-state-text;

  em,
  strong {
    font-weight: 900;
    font-style: normal;
    color: $empty-state-highlight;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.cf-empty-state--text,
.cf-empty-state--sub-text {
  margin-bottom: 0;
  text-align: center;
  @extend %no-user-select;

}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin emptyStateSizeModifier($fontSize, $padding) {
  padding: ceil($padding * 2.75) 0;

  .cf-empty-state--text,
  .cf-empty-state--sub-text {
    margin-top: ceil($fontSize * 0.75);
  }

  .cf-empty-state--text + .cf-button,
  .cf-empty-state--text + .cf-dropdown {
    margin-top: $padding;
  }

  .cf-empty-state--sub-text + .cf-button,
  .cf-empty-state--sub-text + .cf-dropdown {
    margin-top: $padding;
  }

  .cf-empty-state--text {
    font-size: ceil($fontSize * 1.25);
  }

  .cf-empty-state--sub-text {
    font-size: $fontSize;
  }
}

.cf-empty-state--xs {
  @include emptyStateSizeModifier($form-xs-font, $cf-marg-a);
}

.cf-empty-state--sm {
  @include emptyStateSizeModifier($form-sm-font, $cf-marg-b);
}

.cf-empty-state--md {
  @include emptyStateSizeModifier($form-md-font, $cf-marg-c);
}

.cf-empty-state--lg {
  @include emptyStateSizeModifier($form-lg-font, $cf-marg-d);
}
