@import '../modules/modules';

.clockface-button {
  .button span {
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    color: $g20-white;
    text-align: center;
  }
  
  .button {
    height: 49px;
    padding: 0px 20px;
    border-radius: $radius;
    display: inline-flex;
    border: 2px solid $c-curacao;
    background-color: $c-curacao;
  }
  
  .button:hover:not(.Button_disabled) {
    cursor: pointer;
  }
  
  .button-disabled {
    background-color: $c-curacao-disabled
  }
}

.clockface-button.light {
  .button {
    border: 2px solid $c-pool;
    background-color: $c-pool;
  }

  .button-disabled {
    background-color: $c-pool-disabled
  }
}

.clockface-button.dark {
  .button {
    border: 2px solid $c-star;
    background-color: $c-star;
  }

  .button-disabled {
    background-color: $c-star-disabled
  }
}