@import '../src/Styles/modules';

.props-table {
  color: $g11-sidewalk;
  text-align: left;

  tr:nth-of-type(odd) {
    background-color: $g2-kevlar;
  }

  tr.props-table--headers {
    background-color: transparent;
  }

  .props-table--prop {
    font-weight: 700;
  }

  th {
    padding: 0 $cf-marg-b;
  }

  td {
    padding: 0 $cf-marg-b;
    max-width: 50vw;
  }
}

.mockComponent {
  @include gradient-h($c-comet, $c-laser);
  border-radius: $cf-radius;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: $g2-kevlar;
  font-weight: 700;
  font-size: 12px;
  min-height: $form-sm-height;

  &.box {
    width: 100px;
    height: 100px;
  }

  &.stretch {
    width: 100%;
    height: 100%;
  }

  &.input {
    height: $form-sm-height;
    width: 200px;
  }

  &.wide {
    min-width: 2000px;
    white-space: nowrap;
  }

  &.pageContents {
    color: $g20-white;
    width: 100%;
    height: 1200px;
    border-radius: 0;
    background: linear-gradient(135deg, $c-shadow 0%, $c-abyss 100%);
  }
}

.story--container {
  position: relative;
  max-width: 200px;
  max-height: 200px;
  height: 100%;
  width: 100%;

  &.story-large {
    max-width: 400px;
    max-height: 400px;
  }

  &.embiggen {
    font-size: 40px;
  }

  &.clearfix {
    overflow: auto;
  }
}

.scroll--container {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: $g4-onyx;
  border-radius: $cf-radius;
  padding: $cf-marg-b;
}

.mockPage {
  width: 100%;
  height: 600px;
  position: relative;
  border: 2px solid $g4-onyx;

  &.padded {
    padding: $cf-marg-c;
  }
}

.mockOverlay {
  .overlay--mask {
    opacity: 0.7;
  }
}

.mockCard {
  border-radius: $cf-radius;
  font-weight: 700;
  font-size: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $g4-onyx;
  color: $g9-mountain;
  overflow: hidden;
  
  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.story--example {
  width: 100%;
  height: 300px;
  border: $cf-border solid $g4-onyx;
  border-radius: $cf-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
