@import '../src/Styles/modules';

.props-table {
  color: $g11-sidewalk;
  text-align: left;

  tr:nth-of-type(odd) {
    background-color: $g2-kevlar;
  }

  tr.props-table--headers {
    background-color: transparent;
  }

  .props-table--prop {
    font-weight: 700;
  }

  th {
    padding: 0 $cf-marg-b;
  }

  td {
    padding: 0 $cf-marg-b;
    max-width: 50vw;
  }
}

.mockComponent {
  background-color: $c-comet;
  border-radius: $cf-radius;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $g20-white;

  &.box {
    width: 100px;
    height: 100px;
  }

  &.stretch {
    width: 100%;
    height: 100%;
  }

  &.input {
    height: 30px;
    width: 200px;
  }

  &.wide {
    min-width: 2000px;
    white-space: nowrap;
  }
}

.story--container {
  position: relative;
  max-width: 200px;
  max-height: 200px;
  height: 100%;
  width: 100%;

  &.story-large {
    max-width: 400px;
    max-height: 400px;
  }

  &.embiggen {
    font-size: 40px;
  }

  &.clearfix {
    overflow: auto;
  }
}

.scroll--container {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: $g4-onyx;
  border-radius: $cf-radius;
  padding: $cf-marg-b;
}

.mockPage {
  width: 100%;
  height: 600px;
  position: relative;
  border: 2px solid $g4-onyx;
}
