@import '../src/Styles/variables';
@import '../src/Styles/shared';

html,
body.sb-show-main {
  background-color: $g0-obsidian;
}

.props-table {
  color: $g11-sidewalk;
  text-align: left;

  tr:nth-of-type(odd) {
    background-color: $g2-kevlar;
  }

  tr.props-table--headers {
    background-color: transparent;
  }

  .props-table--prop {
    font-weight: $cf-font-weight--bold;
  }

  th {
    padding: 0 $cf-marg-b;
  }

  td {
    padding: 0 $cf-marg-b;
    max-width: 50vw;
  }
}

.mockComponent {
  @include gradient-h($c-comet, $c-laser);
  border-radius: $cf-radius;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: $g2-kevlar;
  font-weight: $cf-font-weight--bold;
  font-size: 12px;
  min-height: $cf-form-sm-height;
  padding: $cf-marg-a;
  line-height: 16px;
  user-select: none;
  text-align: center;

  &.alt-color {
    @include gradient-h($c-honeydew, $c-laser);
  }

  &.box {
    width: 100px;
    height: 100px;
  }

  &.stretch {
    width: 100%;
    height: 100%;
  }

  &.mockInput {
    height: $cf-form-sm-height;
    width: 100%;
  }

  &.mockButton {
    padding: 0 13px;
    white-space: nowrap;
  }

  &.wide {
    min-width: 2000px;
    white-space: nowrap;
  }

  &.pageContents {
    color: $g20-white;
    width: 100%;
    height: 1200px;
    border-radius: 0;
    background: linear-gradient(135deg, $c-shadow 0%, $c-abyss 100%);
  }

  &.dropdownContents {
    color: $g20-white;
    width: 100%;
    height: 400px;
    background: none;
  }

  &.grid-example {
    margin: $cf-marg-a 0;
  }
}

.clickTestZone {
  @extend .mockComponent;
  background: none;
  color: $g13-mist;
  border: 2px dashed $g5-pepper;
  width: 300px;
  height: 300px;
}

.story--container {
  position: relative;
  max-width: 200px;
  max-height: 200px;
  height: 100%;
  width: 100%;

  &.story-large {
    max-width: 400px;
    max-height: 400px;
  }

  &.embiggen {
    font-size: 40px;
  }

  &.clearfix {
    overflow: auto;
  }
}

.scroll--container {
  position: relative;
  background-color: $g4-onyx;
  border-radius: $cf-radius;
  padding: $cf-marg-b;

  p {
    margin: 0;
  }
}

.mockPageWrapper {
  background-color: $g1-raven;
}

.mockPage {
  width: 100%;
  height: 600px;
  position: relative;
  background-color: $g1-raven;

  &.padded {
    padding: $cf-marg-c;
  }
}

.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: $cf-nav-menu--breakpoint) {
  .appWrapper {
    flex-direction: row;
  }
}

.mockOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .overlay--mask {
    opacity: 0.7;
  }
}

.mockCard {
  border-radius: $cf-radius;
  font-weight: $cf-font-weight--bold;
  font-size: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $g4-onyx;
  color: $g9-mountain;
  overflow: hidden;

  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.story--example {
  background-color: $g1-raven;
  width: 100%;
  min-height: 300px;
  border-radius: $cf-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 64px;
  position: relative;
  margin-bottom: 24px;

  &__column {
    @extend .story--example;
    flex-direction: column;
  }

  & > .cf-overlay--mask {
    width: 100% !important;
    height: 100% !important;
  }

  &.top {
    align-items: flex-start;
  }

  code {
    background-color: $g0-obsidian;
    color: $c-galaxy;
    font-weight: 700;
    line-height: 1em;
    padding: 3px 7px;
    border-radius: 3px;
  }
}

.overlay--example {
  .overlay--mask {
    opacity: 0.7;
    visibility: hidden;
  }

  &.show-overlay {
    .overlay--mask {
      visibility: visible;
    }
  }
}

.story--form-example {
  width: 500px;
}

.story--example-table {
  width: 340px;

  tbody tr td {
    padding: $cf-marg-b;
  }

  tbody tr td:nth-child(1) {
    width: 28%;
  }

  tbody tr td:nth-child(2) {
    width: 72%;
  }

  p {
    font-weight: $cf-font-weight--medium;
    margin: 0;
  }
}

.story--invisible-table {
  td {
    padding: 22px;
  }
}

/*
  Markdown Styles
  ------------------------------------------------------------------------------
*/

$docs-text-base: 14px;
$docs-text-scale: 1.19;
$docs-text-base-1: (ceil($docs-text-base * $docs-text-scale));
$docs-text-base-2: (
  ceil($docs-text-base * $docs-text-scale * $docs-text-scale)
);
$docs-text-base-3: (
  ceil($docs-text-base * $docs-text-scale * $docs-text-scale * $docs-text-scale)
);
$docs-text-base-4: (
  ceil(
    $docs-text-base * $docs-text-scale * $docs-text-scale * $docs-text-scale *
      $docs-text-scale
  )
);
$docs-text-base-5: (
  ceil(
    $docs-text-base * $docs-text-scale * $docs-text-scale * $docs-text-scale *
      $docs-text-scale * $docs-text-scale
  )
);

body.sb-show-main {
  padding: 52px;
}

.storybook-readme-story div.markdown-body {
  font-size: $docs-text-base;
  font-family: 'Rubik', Helvetica, Arial, Tahoma, Verdana, sans-serif;

  a:link,
  a:visited,
  a:active {
    font-weight: $cf-font-weight--black;
    text-decoration: underline;
    transition: color 0.25s ease, text-shadow 0.25s ease;
  }

  a:link,
  a:visited {
    color: $c-pool;
  }

  a:hover {
    color: $c-laser;
  }

  a:active {
    color: $c-hydrogen;
    text-shadow: 0 0 3px $c-ocean, 0 0 7px $c-amethyst;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    color: $g13-mist;
    margin: 0.25em 0 0.75em 0;
  }

  h1,
  h2 {
    border-bottom: 2px solid $g2-kevlar;
  }

  h1 {
    line-height: 1.25em;
    font-size: ceil($docs-text-base-5 * $docs-text-scale);
    font-weight: $cf-font-weight--light;
    letter-spacing: 0.01em;
  }
  h2 {
    line-height: 1.25em;
    font-size: $docs-text-base-4;
    font-weight: $cf-font-weight--light;
  }
  h3 {
    line-height: 1.25em;
    font-size: $docs-text-base-3;
    font-weight: $cf-font-weight--medium;
    small {
      font-weight: $cf-font-weight--medium;
    }
  }
  h4 {
    line-height: 1.25em;
    font-size: $docs-text-base-2;
    font-weight: $cf-font-weight--regular;
    small {
      font-weight: $cf-font-weight--regular;
    }
  }
  h5 {
    line-height: 1.25em;
    font-size: $docs-text-base-1;
    font-weight: $cf-font-weight--medium;
    small {
      font-weight: $cf-font-weight--medium;
    }
  }
  h6 {
    line-height: 1.25em;
    font-size: $docs-text-base;
    font-weight: $cf-font-weight--black;
    small {
      font-weight: $cf-font-weight--medium;
    }
  }
  p {
    color: $g11-sidewalk;
    font-size: $docs-text-base;
    line-height: 1.55em;
    font-weight: $cf-font-weight--medium;

    b,
    strong {
      font-weight: $cf-font-weight--black;
    }

    small {
      font-weight: $cf-font-weight--medium;
    }
  }

  ol,
  ul {
    font-size: $docs-text-base;
  }

  li {
    line-height: 1.55em;
    font-weight: $cf-font-weight--medium;
  }

  hr {
    margin: $cf-marg-d 0;
    height: $cf-border;
    border-radius: $cf-border / 2;
    background-color: $g2-kevlar;
  }

  code {
    font-family: 'IBMPlexMono', monospace;
    font-style: normal;
    text-shadow: none;
    font-weight: $cf-font-weight--medium;
    color: $c-potassium;
    background-color: $g1-raven;
    font-size: inherit;
    text-shadow: 0 1px 0 #000;
  }

  code.language-js span.token {
    &.punctuation {
      color: $g10-wolf;
    }
    &.keyword {
      color: $c-hydrogen;
    }
    &.string {
      color: $c-krypton;
    }
    &.function {
      color: $c-pool;
    }
    &.operator {
      color: $c-tungsten;
    }
    &.comment {
      color: $g8-storm;
      font-style: italic;
    }
  }

  code.language-jsx span.token,
  code.language-tsx span.token {
    &.number {
      color: $c-dreamsicle;
    }
    &.punctuation {
      color: $g10-wolf;
    }
    &.attr-value,
    &.string {
      color: $g15-platinum;
    }
    &.keyword {
      color: $c-krypton;

      & + .string {
        color: #f294ff;
      }
    }
    &.function {
      color: $c-pool;
    }
    &.operator {
      color: $c-tungsten;
    }
    &.plain-text {
      color: $g8-storm;
      font-style: italic;
    }
    &.class-name,
    &.tag > .punctuation {
      color: $c-laser;
    }
    &.attr-name {
      color: $c-comet;
    }
    &.script {
      color: #0ae093;
    }
    &.boolean {
      color: $c-thunder;
      font-style: italic;
    }
    &.builtin {
      color: #f294ff;
    }
    &.tag {
      color: $c-ocean;
    }
  }

  pre {
    font-size: $docs-text-base;
    background-color: $g1-raven;
    margin: 0.5em 0 1.25em 0;

    p {
      margin: 0;
      background-color: transparent;
    }
  }

  pre + pre {
    margin-top: -1em;
  }

  pre.language-tsx {
    position: relative;

    &:after {
      content: 'JSX';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      color: $g8-storm;
      font-size: 11px;
      height: 18px;
      line-height: 18px;
      padding: 0 6px;
      white-space: nowrap;
      font-weight: $cf-font-weight--medium;
      text-shadow: none;
      background-color: $g0-obsidian;
      border-bottom-left-radius: 6px;
    }
  }
}

.storybook-readme-story div.markdown-body table {
  border: 0;

  thead th,
  tbody td {
    border: 0;
    padding: $cf-marg-b;
    font-size: 13px;
  }

  thead tr {
    border: 0;
    border-bottom: $cf-border solid $g4-onyx;
    background-color: transparent;
  }

  thead th {
    color: $g17-whisper;
  }

  tbody tr {
    border: 0;
    border-top: $cf-border solid $g2-kevlar;
    background-color: transparent;
  }

  tbody td {
    color: $g13-mist;
  }
}

.storybook-readme-story div.markdown-body.markdown-props-table {
  h3 {
    margin-top: 0.75em !important;
    margin-bottom: 0.25em;
  }

  table {
    display: table;
    width: 100%;

    thead th,
    tbody td {
      text-align: left;
      border: 0;
      padding: $cf-marg-b;
      font-size: 13px;
    }

    tbody tr {
      background-color: $g0-obsidian;
      border: $cf-border solid $g3-castle;

      &:nth-child(even) {
        background-color: $g1-raven;
      }

      &:nth-child(odd) {
        background-color: $g2-kevlar;
      }
    }
  }
}

table.two-axis-table {
  thead tr,
  tbody tr {
    border: 0;
  }

  tbody tr td {
    border: $cf-border solid $g2-kevlar;
    border-left: 0;
    text-align: center;
    vertical-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      border-right: 0;
    }
  }

  tbody tr:first-child td {
    border-top: 0;
  }
}

/*
  Color Swatch Styles
  ------------------------------------------------------------------------------
*/

$color-grid-card-width: 154px;

.colors-grid,
.gradients-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 16px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.colors-grid--card,
.gradients-grid--card {
  width: 100%;
  height: 90px;
  padding: 8px;
  display: flex;
  border-radius: $cf-radius-sm;
  flex-direction: column;

  > p {
    opacity: 0.8;
    margin: 0 !important;
    font-size: 12px !important;
    font-weight: $cf-font-weight--bold;

    &.colors-grid--hex {
      text-transform: uppercase;
    }
  }

  &.dark-text > p {
    color: $g0-obsidian !important;
  }

  &.light-text > p {
    color: $g20-white !important;
  }
}

@media screen and (min-width: $color-grid-card-width * 2) {
  .colors-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: $color-grid-card-width * 3) {
  .colors-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: $color-grid-card-width * 4) {
  .colors-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: $color-grid-card-width * 5) {
  .colors-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: $color-grid-card-width * 6) {
  .colors-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .gradients-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: $color-grid-card-width * 7) {
  .colors-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: $color-grid-card-width * 8) {
  .colors-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .cf-icon {
    color: $g17-whisper;
    font-size: 4.25em;
    margin-bottom: $cf-marg-c;
  }
}

.icon-grid--cell {
  flex: 0 0 calc(20% - 2px);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $cf-marg-b;
  background-color: $g1-raven;
  border-radius: $cf-radius;
  margin: 1px;
}

.story-spacer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

/*
  Testing Table
  ------------------------------------------------------------------------------
*/

.story--testing-table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px;
  border: 1px solid $g3-castle;
}

.story--testing-cell {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid $g3-castle;
}

.story--test-buttons {
  top: 12px;
  right: 12px;
  position: absolute;
  z-index: 5000;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  &.relative {
    position: relative;
    top: initial;
    right: initial;
  }
}

.story--test-buttons button,
.story--test-button {
  font-size: 12px;
  font-weight: $cf-font-weight--bold;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  border-radius: $cf-radius;
  background-color: $g5-pepper;
  color: $g13-mist;
  border: 0;
  outline: none;
  transition: color 0.25s ease, background-color 0.25s ease;
  user-select: none;

  &:hover {
    background-color: $g6-smoke;
    color: $g16-pearl;
    cursor: pointer;
  }

  &:active {
    background-color: $c-pool;
    color: $g20-white;
  }
}

.notification-tester {
  margin: $cf-marg-c 0;
  width: 400px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: $cf-marg-b;
  border: $cf-border solid $g2-kevlar;
  border-radius: $cf-radius + 1;

  > div {
    display: flex;
    justify-content: space-between;
  }
}


