@import '../../Styles/modules';

/*
   Page Layout
   -----------------------------------------------------------------------------
*/

.cf-page {
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .cf-nav + & {
    flex: 1 0 calc(100% - #{$nav-menu--size});
  }
}

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-page {
    width: auto;
    height: 100%;
    flex: 1 0 100%;
  }
}

/*
   Gutters & Max Width
   -----------------------------------------------------------------------------
*/

.cf-page-header--fluid,
.cf-page-header--fixed,
.cf-page-contents__fluid,
.cf-page-contents__fixed {
  width: 100%;
  padding: 0 $page--gutter-small;
}

.cf-page-header--fixed,
.cf-page-contents__fixed {
  margin: 0 auto;
  max-width: $page--max-width;
}

/*
   Page Header
   -----------------------------------------------------------------------------
*/

.cf-page-header {
  width: 100%;
  flex: 0 0 $page--header-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cf-page-header--fluid,
.cf-page-header--fixed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.cf-page-header--left,
.cf-page-header--right,
.cf-page-header--center {
  display: flex;
  align-items: center;
}

.cf-page-header--left {
  justify-content: flex-start;
  > * {
    margin: 0 $cf-marg-a 0 0;
  }
}

.cf-page-header--center {
  justify-content: center;
}

.cf-page-header--right {
  justify-content: flex-end;
  > * {
    margin: 0 0 0 $cf-marg-a !important;

    &:only-child {
      margin-right: 0 !important;
    }
  }
}

.cf-page--title {
  letter-spacing: 0;
  text-transform: none;
  font-size: $page--title-size;
  font-weight: $page--title-weight;
  margin: 0;
  display: inline-block;
  @include no-user-select();
  cursor: default;
}

/*
  Page Contents
  ------------------------------------------------------------------------------
*/

.cf-page-contents {
  width: 100%;
  position: relative;
  flex: 1 0 calc(100% - #{$page--header-size});
  overflow: hidden;

  & > .cf-dapper-scrollbars--track-y {
    background: linear-gradient(
      to bottom,
      $g6-smoke 0%,
      $g3-castle 100%
    ) !important;
  }
}

.cf-page-contents__fluid {
  min-height: 100%;
}

.cf-page-contents__fixed {
  margin: 0 auto;
}

/*
  Scrollable Page
  ------------------------------------------------------------------------------
*/

.cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fluid,
.cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fixed {
  padding-bottom: $page--gutter-small;
}

/*
  Non-Scrollable Page
  ------------------------------------------------------------------------------
*/

.cf-page-contents__no-scroll {
  display: flex;

  .cf-page-contents__fluid,
  .cf-page-contents__fixed {
    height: 100%;
  }
}

/*
  Full Padding After Breakpoint
  ------------------------------------------------------------------------------
*/

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-page-header--fluid,
  .cf-page-header--fixed,
  .cf-page-contents__fluid,
  .cf-page-contents__fixed {
    padding: 0 $page--gutter;
  }
  
  .cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fluid,
  .cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fixed {
    padding-bottom: $page--gutter;
  }
}

/*
  PresentationMode
  ------------------------------------------------------------------------------
*/

