@import '../../Styles/variables';

/*
   Page Layout
   -----------------------------------------------------------------------------
*/

.cf-page {
  width: 100%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-page {
    width: auto;
    height: 100%;
    flex: 1 0 0;
  }
}

/*
   Gutters & Max Width
   -----------------------------------------------------------------------------
*/

.cf-page-header--fluid,
.cf-page-header--fixed,
.cf-page-control-bar--fluid,
.cf-page-control-bar--fixed,
.cf-page-contents__fluid,
.cf-page-contents__fixed {
  width: 100%;
  padding: 0 $page--gutter-xs;
}

.cf-page-header--fixed,
.cf-page-control-bar--fixed,
.cf-page-contents__fixed {
  margin: 0 auto;
  max-width: $page--max-width;
}

/*
   Page Header
   -----------------------------------------------------------------------------
*/

.cf-page-header {
  width: 100%;
  height: $page--header-size-sm;
  flex: 0 0 $page--header-size-sm;
  display: flex;
  align-items: center;
}

.cf-page-header--fluid,
.cf-page-header--fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*
   Page Control Bar
   -----------------------------------------------------------------------------
*/

.cf-page-control-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-page-control-bar {
    flex: 0 0 $page--control-bar-size;
  }
}

.cf-page-control-bar--fluid,
.cf-page-control-bar--fixed {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cf-page-control-bar--left,
.cf-page-control-bar--right,
.cf-page-control-bar--center {
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  flex: 0 0 ($nav-menu--size - (($nav-menu--size - $form-sm-height) / 2));

  &.cf-page-control-bar__no-children {
    display: none;
  }
}

.cf-page-control-bar--center:not(.cf-page-control-bar__no-children) + .cf-page-control-bar--right {
  flex: 0 0 ($nav-menu--size - (($nav-menu--size - $form-sm-height) / 2));
  align-items: flex-start;
}

.cf-page-control-bar--left {
  padding: 0 ($nav-menu--size - $page--gutter-xs);
}

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-page-control-bar--fluid,
  .cf-page-control-bar--fixed {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .cf-page-control-bar--left {
    padding: 0;
    justify-content: flex-start;
    text-align: left;
    flex: 1 0 30%;
    > * {
      margin: 0 $cf-marg-a 0 0;
    }
  }

  .cf-page-control-bar--center {
    flex: 0 0 0;
  }

  .cf-page-control-bar--right,
  .cf-page-control-bar--center:not(.cf-page-control-bar__no-children) + .cf-page-control-bar--right {
    justify-content: flex-end;
    text-align: right;
    flex: 1 0 30%;
    > * {
      margin: 0 0 0 $cf-marg-a;
    }
  }

  .cf-page-control-bar--left,
  .cf-page-control-bar--right,
  .cf-page-control-bar--center {
    &.cf-page-control-bar__no-children {
      display: flex;
    }
  }

  .cf-page-header {
    height: $page--header-size;
    flex: 0 0 $page--header-size;
  }

  .cf-page-header--fluid,
  .cf-page-header--fixed {
    justify-content: space-between;
    text-align: left;
  }
}

/*
  Page Title & Sub-Title
  ------------------------------------------------------------------------------
*/

.cf-heading.cf-page--title {
  letter-spacing: 0;
  text-transform: none;
  font-style: normal;
  cursor: default;
  display: inline-block;
  color: $cf-text-default;
  font-size: $page--title-size-sm;
  line-height: $page--title-size-sm;
}

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-heading.cf-page--title {
    font-size: $page--title-size;
    line-height: $page--title-size;
  }
}

/*
  Page Contents
  ------------------------------------------------------------------------------
*/

.cf-page-contents {
  width: 100%;
  position: relative;
  flex: 1 0 0;
  overflow: hidden;

  & > .cf-dapper-scrollbars--track-y {
    background-color: $g4-onyx !important;
  }
}

.cf-page-contents__fluid {
  min-height: 100%;
}

.cf-page-contents__fixed {
  margin: 0 auto;
}

/*
  Scrollable Page
  ------------------------------------------------------------------------------
*/

.cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fluid,
.cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fixed {
  padding-bottom: $page--gutter-xs;
}

/*
  Non-Scrollable Page
  ------------------------------------------------------------------------------
*/

.cf-page-contents__no-scroll {
  display: flex;

  .cf-page-contents__fluid,
  .cf-page-contents__fixed {
    height: 100%;
  }
}

/*
  Full Padding After Breakpoint
  ------------------------------------------------------------------------------
*/
@mixin pageGutterModifier($gutter) {
  .cf-page-header--fluid,
  .cf-page-header--fixed,
  .cf-page-control-bar--fluid,
  .cf-page-control-bar--fixed,
  .cf-page-contents__fluid,
  .cf-page-contents__fixed {
    padding: 0 $gutter;
  }
  
  &.cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fluid,
  &.cf-page-contents.cf-dapper-scrollbars .cf-page-contents__fixed {
    padding-bottom: $gutter;
  }
}

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-page__gutter-xs {
    @include pageGutterModifier($page--gutter-xs);
  }
  .cf-page__gutter-sm {
    @include pageGutterModifier($page--gutter-sm);
  }
  .cf-page__gutter-md {
    @include pageGutterModifier($page--gutter-md);
  }
  .cf-page__gutter-lg {
    @include pageGutterModifier($page--gutter-lg);
  }
}
