@import '../../Styles/modules';

/*
   Page Layout
   -----------------------------------------------------------------------------
*/

.cf-page {
  width: 100%;
  flex: 1 0 calc(100% - #{$nav-menu--size});
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-page {
    width: auto;
    height: 100%;
  }
}

.cf-page-header {
  height: $page--header-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cf-page-header--container {
  display: flex;
  padding: 0 $page--gutter-small;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  max-width: $page--max-width;
}

.cf-page-header--left,
.cf-page-header--right,
.cf-page-header--center {
  display: flex;
  align-items: center;
}

.cf-page-header--left {
  justify-content: flex-start;
  > * {
    margin: 0 $cf-marg-a 0 0;
  }
}

.cf-page-header--center {
  justify-content: center;
}

.cf-page-header--right {
  justify-content: flex-end;
  > * {
    margin: 0 0 0 $cf-marg-a !important;

    &:only-child {
      margin-right: 0 !important;
    }
  }
}

.cf-page--title {
  letter-spacing: 0;
  text-transform: none;
  font-size: $page--title-size;
  font-weight: $page--title-weight;
  margin: 0;
  display: inline-block;
  @include no-user-select();
  cursor: default;
}

.cf-page-contents {
  width: 100%;
  position: relative;
  height: calc(100% - #{$page--header-size}) !important;
  overflow: hidden;

  & > .cf-dapper-scrollbars--track-y {
    background: linear-gradient(
      to bottom,
      $g6-smoke 0%,
      $g3-castle 100%
    ) !important;
  }
}

.cf-page-contents--padding {
  min-height: 100%;
  padding: $page--gutter-small;
  padding-top: 0;
}

.cf-page-contents--container {
  margin: 0 auto;
  max-width: $page--max-width;
}

/*
  Full Width Page
  ------------------------------------------------------------------------------
*/

.cf-page-contents.full-width .cf-page-contents--padding {
  padding: 0 $page--gutter-small;
}

.cf-page-contents--container.full-width {
  max-width: 100%;
}

.cf-page-header.full-width .cf-page-header--container {
  max-width: 100%;
}

/*
  Scrollable Page
  ------------------------------------------------------------------------------
*/

.cf-page-contents.cf-dapper-scrollbars > .cf-page-contents--padding {
  padding-bottom: $page--gutter-small;
}

/*
  Full Height Mode
  ------------------------------------------------------------------------------
*/

.cf-page-contents.full-height {
  height: 100% !important;
}

.cf-page-contents.full-height .cf-page-contents--padding {
  padding: $cf-marg-b;
}

.cf-page-contents.full-height.cf-dapper-scrollbars .cf-page-contents--padding {
  padding-right: $cf-marg-c;
}

/*
  Full Padding After Breakpoint
  ------------------------------------------------------------------------------
*/

@media screen and (min-width: $nav-menu--breakpoint) {
  .cf-page-header--container {
    padding: 0 $page--gutter;
  }
  .cf-page-contents--padding {
    padding: $page--gutter;
    padding-top: 0;
  }
  .cf-page-contents.full-width .cf-page-contents--padding {
    padding: 0 $page--gutter;
  }
  .cf-page-contents.cf-dapper-scrollbars > .cf-page-contents--padding {
    padding-bottom: $page--gutter;
  }
}
