@import '../../Styles/modules';

/*
   Overlays
   -----------------------------------------------------------------------------
*/

$overlay--gutter: $cf-marg-c + $cf-marg-b;
$overlay--header-height: $page--header-size;
$overlay--title-size: $page--title-size;
$overlay--title-weight: $page--title-weight;
$overlay--container-padding: $cf-marg-c + $cf-marg-d;
$overlay--z: 20;
$overlay--mask-z: 10;

.cf-overlay-portal {
  @include portal-style($z--overlays);
}

// Mixins for shared styles
%overlay-styles {
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  left: 0;
}

%overlay-children {
  width: 100%;
}

.cf-overlay--mask {
  @extend %overlay-styles;
  z-index: $overlay--mask-z;
}

.cf-overlay--children {
  display: flex;
  justify-content: center;
}

.cf-overlay {
  @extend %overlay-styles;
  z-index: $overlay--z;
}

.cf-overlay--container {
  @extend %overlay-children;
  background-color: $g1-raven;
  border-radius: $cf-radius;

  &__xs {
    margin: $page--gutter-xs;
  }

  &__sm {
    margin: $page--gutter-sm;
  }

  &__md {
    margin: $page--gutter-md;
  }

  &__lg {
    margin: $page--gutter-lg;
  }
}

.cf-overlay--header {
  @extend %overlay-children;
  height: $overlay--header-height;
  display: flex;
  padding: 0 $overlay--gutter;
  justify-content: space-between;
  align-items: center;
  @include no-user-select();
}

.cf-overlay--title {
  font-size: $overlay--title-size;
  font-weight: $overlay--title-weight;
  color: $g15-platinum;
  white-space: nowrap;
}

.cf-overlay--dismiss {
  width: ($overlay--header-height - 20px);
  height: ($overlay--header-height - 20px);
  position: relative;
  background-color: transparent;
  border: 0;
  outline: none;

  /* Use psuedo elements to render the X */
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% + 10px);
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $g9-mountain;
    transition: background-color 0.25s ease;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  /* Hover State */
  &:hover {
    cursor: pointer;
  }
  &:hover:before,
  &:hover:after {
    background-color: $c-laser;
  }
}

.cf-overlay--body {
  @extend %overlay-children;
  padding: $overlay--gutter;
  padding-top: 0;
  color: $g13-mist;

  p {
    font-weight: 500;
  }
}

.cf-overlay--footer {
  @extend %overlay-children;
  padding: $overlay--gutter;
  padding-top: 0;
}
