@import '../../Styles/variables';

/*
   Top Nav
   -----------------------------------------------------------------------------
*/

.cf-app-header--logo {
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  @extend %no-user-select;

  > img {
    object-fit: contain;
    height: 100%;
  }
}

/*
  Size Modifiers
  ------------------------------------------------------------------------------
*/
@mixin appHeaderLogoSizeModifier($fontSize, $height) {
  font-size: $fontSize;
  height: $height;
}

.cf-app-header--logo__xs {
  @include appHeaderLogoSizeModifier($cf-form-xs-font, $cf-form-xs-height);
}
.cf-app-header--logo__sm {
  @include appHeaderLogoSizeModifier($cf-form-sm-font, $cf-form-sm-height);
}
.cf-app-header--logo__md {
  @include appHeaderLogoSizeModifier($cf-form-md-font, $cf-form-md-height);
}
.cf-app-header--logo__lg {
  @include appHeaderLogoSizeModifier($cf-form-lg-font, $cf-form-lg-height);
}
