@import '../../Styles/variables';

.cf-progress-bar {
  @include no-user-select();
}

.cf-progress-bar--container {
  border-radius: 100px;
  width: 100%;
  height: 12px;
  box-sizing: border-box;
  padding: $cf-space-3xs 0;
  background-color: $g0-obsidian;
  display: inline-flex;
  position: relative;
}

.cf-progress-bar--fill {
  border-radius: 100px;
  height: 100%;
  position: relative;
}

.cf-progress-bar--text {
  margin-top: $cf-space-2xs;
  width: 100%;
  color: $cf-grey-55;
  display: inline-flex;
  justify-content: space-between;
  font-size: $cf-text-base-0;
}
