@import '../../Styles/variables';

/*
  Index List Styles
  ------------------------------------------------------------------------------
*/

$cf-index-list--row-height: 52px;
$cf-index-list--sort-text: $g11-sidewalk;

.cf-index-list {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

.cf-index-list--header-cell {
  @include no-user-select();
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 0 13px;
  font-size: $cf-form-md-font;
  font-weight: $cf-font-weight--medium;
  color: $g9-mountain;
  white-space: nowrap;
  height: 52px;
}

.cf-index-list--cell {
  height: calc(100% - #{$cf-border});
  padding: $cf-marg-a + $cf-marg-b;
  background-color: $cf-card-background--default;
  font-size: $cf-form-md-font;
  font-weight: $cf-font-weight--medium;
  color: $cf-card-text--default;
  display: flex;
  align-items: center;
  transition: background-color 0.25s ease, color 0.25s ease;
}

// Alignment modifiers
.cf-index-list--align-left {
  text-align: left;
}
.cf-index-list--align-left .cf-index-list--cell {
  justify-content: flex-start;
}

.cf-index-list--align-right {
  text-align: right;
}
.cf-index-list--align-right .cf-index-list--cell {
  justify-content: flex-end;
}

.cf-index-list--align-center {
  text-align: center;
}
.cf-index-list--align-center .cf-index-list--cell {
  justify-content: center;
}

// TD Style
.cf-index-list--row-cell {
  position: relative;
  height: $cf-index-list--row-height;

  &:first-child .cf-index-list--cell {
    border-radius: $cf-radius 0 0 $cf-radius;
  }

  &:last-child .cf-index-list--cell {
    border-radius: 0 $cf-radius $cf-radius 0;
  }
}

// Row Style
.cf-index-list--row {
  @extend %panel-shadow;
}

// Row hover State
.cf-index-list--row:hover .cf-index-list--cell {
  background-color: $cf-card-background--hover;
  color: $cf-card-text--hover;
}

// Show cell contents on row hover
.cf-index-list--show-hover .cf-index-list--cell > * {
  transition: opacity 0.25s ease;
  opacity: 0;
}
.cf-index-list--row:hover .cf-index-list--show-hover .cf-index-list--cell > * {
  opacity: 1;
}

/*
  Depth Styling
  ------------------------------------------------------------------------------
*/

.cf-index-list--row__nested {
  .cf-index-list--cell {
    background-color: $g4-onyx;
  }
  &:hover .cf-index-list--cell {
    background-color: $g5-pepper;
  }
  &.cf-index-list--row__disabled .cf-index-list--cell {
    background-color: rgba($g4-onyx, 0.5);
  }
  &.cf-index-list--row__disabled:hover .cf-index-list--cell {
    background-color: rgba($g4-onyx, 0.7);
  }
  .cf-index-list--empty-cell {
    background-color: rgba($g4-onyx, 0.5);
  }
}

/*
  Row Disabled State
  ------------------------------------------------------------------------------
*/
.cf-index-list--row.cf-index-list--row__disabled
  .cf-index-list--row-cell
  .cf-index-list--cell {
  background-color: $cf-card-background--disabled;
  color: $cf-card-text--disabled;
  font-style: italic;

  a:link,
  a:visited,
  a:hover,
  a:active {
    transition: color 0.25s ease, opacity 0.25s ease;
    opacity: 0.7;
  }
}

// Row Disabled Hover State
.cf-index-list--row.cf-index-list--row__disabled:hover
  .cf-index-list--row-cell
  .cf-index-list--cell {
  background-color: $cf-card-background--disabled;
  color: $cf-card-text--disabled;

  a:link,
  a:visited,
  a:hover,
  a:active {
    opacity: 0.9;
  }
}

// Empty state
.cf-index-list--empty-cell {
  background-color: $cf-card-background--disabled;
  border-radius: $cf-radius;
  display: flex;
  align-content: center;
  justify-content: center;
  color: $cf-empty-state-text;
}

/*
  Sortable Header Styling
  ------------------------------------------------------------------------------
*/

.cf-index-list--sort-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: $cf-marg-a;
  opacity: 0;
  position: relative;
  top: -1px;
  transition: opacity 0.25s ease, transform 0.25s ease;

  > span.cf-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cf-index-list--header-cell.cf-index-list--sortable {
  transition: color 0.25s ease;

  &:hover {
    cursor: pointer;
    color: $c-pool;
  }
}

.cf-index-list--header-cell.cf-index-list--sort-ascending,
.cf-index-list--header-cell.cf-index-list--sort-descending {
  color: $cf-index-list--sort-text;
}

.cf-index-list--sort-ascending .cf-index-list--sort-arrow {
  opacity: 1;
  transform: rotate(180deg);
}

.cf-index-list--sort-descending .cf-index-list--sort-arrow {
  opacity: 1;
  transform: rotate(00deg);
}

/*
  Margin for "Name" column in tables
  ------------------------------------------------------------------------------
*/

.cf-index-list--labels {
  margin-left: $cf-marg-b;
}

.cf-index-list--row-cell .cf-index-list--cell a {
  white-space: nowrap;
}
