@import '../../Styles/variables';

/*
  Dropdown Button
  ------------------------------------------------------------------------------
*/

/* Button */
.cf-dropdown--button {
  position: relative;

  & > * {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    width: 100%;
  }

  &.active {
    z-index: 510;
  }
}

.cf-dropdown--icon {
  flex-shrink: 0;
  margin-right: $cf-space-2xs;
}

.cf-dropdown--selected {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  margin-right: auto;
}

.cf-dropdown--caret {
  margin: auto 0 auto $cf-space-2xs;
  font-size: 0.9em;
  transition: transform $cf-transition-default;
  flex-shrink: 0;

  .cf-dropdown__up & {
    transform: rotate(-180deg);
  }

  .cf-dropdown__up .active & {
    transform: rotate(0deg);
  }

  .cf-dropdown__down & {
    transform: rotate(0deg);
  }

  .cf-dropdown__down .active & {
    transform: rotate(-180deg);
  }
}

/* Button Size Modifiers */
@mixin buttonSizing($padding, $font, $height) {
  .cf-dropdown__down & + .cf-dropdown--menu-container {
    top: $height;
  }
  .cf-dropdown__up & + .cf-dropdown--menu-container {
    bottom: $height;
  }
}

.cf-dropdown--button.cf-button-disabled {
  cursor: not-allowed;
  opacity: $cf-disabled-opacity;
}

.cf-dropdown--button.cf-button-xs {
  @include buttonSizing(
    $cf-form-xs-padding,
    $cf-form-xs-font,
    $cf-form-xs-height
  );
}

.cf-dropdown--button.cf-button-sm {
  @include buttonSizing(
    $cf-form-sm-padding,
    $cf-form-sm-font,
    $cf-form-sm-height
  );
}

.cf-dropdown--button.cf-button-md {
  @include buttonSizing(
    $cf-form-md-padding,
    $cf-form-md-font,
    $cf-form-md-height
  );
}

.cf-dropdown--button.cf-button-lg {
  @include buttonSizing(
    $cf-form-lg-padding,
    $cf-form-lg-font,
    $cf-form-lg-height
  );
}
