@import '../../Styles/modules';

$dropdown-item--dot-radius: 6px;
$dropdown-item--checkbox-size: 12px;
$dropdown-item--padding-h: $cf-marg-b + $cf-marg-a;
$dropdown-item--padding-v: $cf-marg-a + $cf-border;

/*
  Dropdown
  ------------------------------------------------------------------------------
*/
.cf-dropdown {
  font-size: 0;
  position: relative;

  &.cf-dropdown-xs {
    height: $form-xs-height;
  }
  &.cf-dropdown-sm {
    height: $form-sm-height;
  }
  &.cf-dropdown-md {
    height: $form-md-height;
  }
  &.cf-dropdown-lg {
    height: $form-lg-height;
  }
}

/*
  Dropdown Menu
  ------------------------------------------------------------------------------
*/
.cf-dropdown--menu-container {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 500;
}

.cf-dropdown-menu {
  overflow: hidden;
  border-radius: $cf-radius;
  box-shadow: 0 2px 5px 0.6px rgba($g0-obsidian, 0.2);
}


.cf-dropdown-menu--contents {
  font-size: 0;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: pointer;
}

/*
  Dropdown Item
  ------------------------------------------------------------------------------
*/

@mixin dropdownItemStyles() {
  padding: $dropdown-item--padding-v $dropdown-item--padding-h;
  font-size: $form-sm-font;
  line-height: $form-sm-font;
  font-weight: 600;
  text-align: left;
}

.cf-dropdown-divider {
  @include dropdownItemStyles();

  &.line {
    padding: 0;
    height: $cf-border;
  }

  &:hover {
    cursor: default;
  }
}

.cf-dropdown-item {
  @include dropdownItemStyles();
  color: rgba($g20-white, 0.75);
  position: relative;

  &.cf-dropdown-link-item {
    padding: 0;
  }

  &.cf-dropdown-item__dot,
  &.cf-dropdown-item__dot.cf-dropdown-link-item > a {
    padding-left: $dropdown-item--padding-h + ($dropdown-item--dot-radius * 2);
  }

  &.cf-dropdown-item__checkbox,
  &.cf-dropdown-item__checkbox.cf-dropdown-link-item > a  {
    padding-left: $dropdown-item--padding-h + $dropdown-item--checkbox-size + $dropdown-item--padding-v;
  }

  &:hover,
  &.active {
    color: $g20-white;
    cursor: pointer;
  }
}

.cf-dropdown-item__wrap .cf-dropdown-item--children,
.cf-dropdown-item__wrap.cf-dropdown-link-item a {
  word-break: break-all;
  white-space: pre-wrap;
}

.cf-dropdown-item__no-wrap .cf-dropdown-item--children,
.cf-dropdown-item__no-wrap.cf-dropdown-link-item a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cf-dropdown-item--dot,
.cf-dropdown-item--checkbox {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cf-dropdown-item--dot {
  left: $dropdown-item--padding-h + ($dropdown-item--dot-radius / 2);
  width: $dropdown-item--dot-radius;
  height: $dropdown-item--dot-radius;
  border-radius: 50%;
  background-color: $g20-white;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.cf-dropdown-item--checkbox {
  background-color: $g4-onyx;
  left: $dropdown-item--padding-h + ($dropdown-item--checkbox-size / 2);
  width: $dropdown-item--checkbox-size;
  height: $dropdown-item--checkbox-size;
  border-radius: $cf-radius-sm;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: $dropdown-item--dot-radius;
    height: $dropdown-item--dot-radius;
    opacity: 0;
    transform: translate(-50%, -50%) scale(2, 2);
    transition: opacity 0.25s, transform 0.25s ease;
    background-color: $g20-white;
  }

  .active &:after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

.cf-dropdown-item.active {
  .cf-dropdown-item--checkbox:after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }
  .cf-dropdown-item--dot {
    opacity: 1;
  }
}

/*
  Dropdown Link Item
  ------------------------------------------------------------------------------
*/

.cf-dropdown-item.cf-dropdown-link-item {
  padding: 0;

  &.cf-dropdown-item__dot,
  &.cf-dropdown-item__checkbox {
    padding-left: 0;
  }

  a {
    padding: $dropdown-item--padding-v $dropdown-item--padding-h;
    display: inline-block;
  }

  a,
  a:link,
  a:active,
  a:visited {
    font-weight: 600;
    color: rgba($g20-white, 0.75);
  }

  a:hover,
  &.active a,
  &.active a:link,
  &.active a:visited,
  &.active a:active,
  &.active a:hover {
    color: $g20-white;
  }
}

/*
  Menu Themes
  ------------------------------------------------------------------------------
*/

@mixin dropdownMenuColor(
  $backgroundA,
  $backgroundB,
  $hoverA,
  $hoverB,
  $dividerA,
  $dividerB,
  $dividerText,
  $checkbox,
) {
  @include gradient-h($backgroundA, $backgroundB);

  .cf-dropdown-item:hover,
  .cf-dropdown-item.active {
    @include gradient-h($hoverA, $hoverB);
  }
  .cf-dropdown-divider {
    color: $dividerText;
    @include gradient-h($dividerA, $dividerB);
  }
  .cf-dropdown-item--checkbox {
    background-color: $dividerA;
  }
  .cf-dropdown-item--checkbox:after {
    background-color: $checkbox;
  }
}

.cf-dropdown__amethyst {
  @include dropdownMenuColor(
    $c-star,
    $c-pool,
    $c-comet,
    $c-laser,
    $c-amethyst,
    $c-ocean,
    $c-potassium,
    $c-neutrino
  );
}

.cf-dropdown__sapphire {
  @include dropdownMenuColor(
    $c-ocean,
    $c-pool,
    $c-pool,
    $c-laser,
    $c-sapphire,
    $c-ocean,
    $c-hydrogen,
    $c-neutrino
  );
}

.cf-dropdown__malachite {
  @include dropdownMenuColor(
    $c-ocean,
    $c-rainforest,
    $c-pool,
    $c-honeydew,
    $c-sapphire,
    $c-viridian,
    $c-krypton,
    $c-neutrino
  );
}

.cf-dropdown__onyx {
  @include dropdownMenuColor(
    $g2-kevlar,
    $g4-onyx,
    $g4-onyx,
    $g6-smoke,
    $g0-obsidian,
    $g2-kevlar,
    $g11-sidewalk,
    $c-pool
  );
}
