@import '../../Styles/variables';

/*
  Dropdown Button
  ------------------------------------------------------------------------------
*/

/* Button */
.cf-dropdown--button {
  position: relative;

  &.active {
    z-index: 510;
  }
}

.cf-dropdown--selected,
.cf-dropdown--icon,
.cf-dropdown--caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cf-dropdown--icon {
  top: 48%;
}

.cf-dropdown--selected {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cf-dropdown--caret {
  margin: 0;
  font-size: 0.9em;
  transition: transform 0.25s ease;

  .cf-dropdown__up & {
    transform: translateY(-50%) rotate(-180deg);
  }

  .cf-dropdown__up .active & {
    transform: translateY(-50%) rotate(0deg);
  }

  .cf-dropdown__down & {
    transform: translateY(-50%) rotate(0deg);
  }

  .cf-dropdown__down .active & {
    transform: translateY(-50%) rotate(-180deg);
  }
}

/* Button Size Modifiers */
@mixin buttonSizing($padding, $font, $height) {
  .cf-dropdown--icon,
  .cf-dropdown--selected {
    left: $padding;
  }
  .cf-dropdown--selected {
    width: calc(100% - #{($padding * 2) + $font});
  }
  .cf-dropdown--icon + .cf-dropdown--selected {
    left: $padding + ($font * 1.5);
    width: calc(100% - #{($padding * 2) + ($font * 2.5)});
  }
  .cf-dropdown--caret {
    right: $padding;
  }
  .cf-dropdown__down & + .cf-dropdown--menu-container {
    top: $height;
  }
  .cf-dropdown__up & + .cf-dropdown--menu-container {
    bottom: $height;
  }
}

.cf-dropdown--button.cf-button-disabled {
  font-style: italic;
}

.cf-dropdown--button.cf-button-xs {
  @include buttonSizing($cf-form-xs-padding, $cf-form-xs-font, $cf-form-xs-height);
}

.cf-dropdown--button.cf-button-sm {
  @include buttonSizing($cf-form-sm-padding, $cf-form-sm-font, $cf-form-sm-height);
}

.cf-dropdown--button.cf-button-md {
  @include buttonSizing($cf-form-md-padding, $cf-form-md-font, $cf-form-md-height);
}

.cf-dropdown--button.cf-button-lg {
  @include buttonSizing($cf-form-lg-padding, $cf-form-lg-font, $cf-form-lg-height);
}
