@import '../../Styles/variables';

/*
  Dropdown Button
  ------------------------------------------------------------------------------
*/

/* Button */
.cf-dropdown--button {
  position: relative;

  & > * {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    width: 100%;
  }

  &.active {
    z-index: 510;
  }
}

.cf-dropdown--icon {
  flex-shrink: 0;
  margin-right: $cf-space-2xs;
}

.cf-dropdown--selected {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  margin-right: auto;

  &.header-container input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.header-container--button {
  width: 33px;
  padding-left: 3px;
  justify-content: center;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.cf-dropdown--caret {
  font-size: $cf-text-base-1;
  margin: auto 0 auto $cf-space-2xs;
  transition: transform $cf-transition-default;
  flex-shrink: 0;

  .cf-dropdown__up & {
    transform: rotate(-180deg);
  }

  .cf-dropdown__up .active & {
    transform: rotate(0deg);
  }

  .cf-dropdown__down & {
    transform: rotate(0deg);
  }

  .cf-dropdown__down .active & {
    transform: rotate(-180deg);
  }
}

/* Button Size Modifiers */
@mixin dropdownSizeModifier($height) {
  .cf-dropdown__down & + .cf-dropdown--menu-container {
    top: $height;
  }
  .cf-dropdown__up & + .cf-dropdown--menu-container {
    bottom: $height;
  }
}

.cf-dropdown--button.cf-button-disabled {
  cursor: not-allowed;
  opacity: $cf-disabled-opacity;
}

.cf-dropdown--button.cf-button-xs {
  @include dropdownSizeModifier($cf-form-xs-height);
}

.cf-dropdown--button.cf-button-sm {
  @include dropdownSizeModifier($cf-form-sm-height);
}

.cf-dropdown--button.cf-button-md {
  @include dropdownSizeModifier($cf-form-md-height);
}

.cf-dropdown--button.cf-button-lg {
  @include dropdownSizeModifier($cf-form-lg-height);
}
