@import '../../../Styles/variables';

/*
  Resource Card
  ------------------------------------------------------------------------------
*/

.cf-resource-card {
  display: grid;
  width: 100%;
  position: relative;
  color: $cf-card-text--default;
  background-color: $cf-card-background--default;
  border-radius: $cf-radius;
  padding: $cf-space-m;
  @extend %panel-shadow;
}

.cf-resource-card--context-menu {
  position: absolute;
  top: $cf-space-m;
  right: $cf-space-m;
  transition: opacity $cf-transition-default;
}

.cf-resource-card__context-hover:not(:hover) .cf-resource-card--context-menu {
  opacity: 0;
}

/*
  Disabled Card
  ------------------------------------------------------------------------------
*/

.cf-resource-card.cf-resource-card__disabled {
  opacity: $cf-disabled-opacity;
}

.cf-resource-card.cf-resource-card__disabled {
  .cf-slide-toggle,
  .cf-slide-toggle ~ .cf-input-label {
    cursor: pointer;
  }
}
