@import "../../../Styles/variables.scss";

/*
  Editable Name for Resource Cards
  ------------------------------------------------------------------------------
*/

.cf-resource-name--text,
.cf-resource-name--text__link,
.cf-input.cf-resource-editable-name--input > input {
  font-size: $cf-card--name-font-size;
  font-weight: $cf-card--name-font-weight;
  font-family: $cf-text-font;
}

.cf-resource-editable-name > a {
  display: inline-block;
  white-space: nowrap;
  line-height: $cf-form-xs-height;
}

.cf-resource-editable-name {
  height: $cf-form-xs-height;
  position: relative;
  display: inline-flex;
  flex-wrap: nowrap;
}

/* Ensure placeholder text matches font weight of title */
.cf-input.cf-resource-editable-name--input > input {
  &::-webkit-input-placeholder {
    font-weight: $cf-card--name-font-weight !important;
  }
  &::-moz-placeholder {
    font-weight: $cf-card--name-font-weight !important;
  }
  &:-ms-input-placeholder {
    font-weight: $cf-card--name-font-weight !important;
  }
  &:-moz-placeholder {
    font-weight: $cf-card--name-font-weight !important;
  }
}

.cf-resource-editable-name--toggle {
  font-size: $cf-card--name-font-weight * 0.75;
  transform: translateY(-10%);
  padding: $cf-marg-a;
  display: inline-block;
  margin-left: $cf-marg-b;
  transition: color 0.25s ease, opacity 0.25s ease, width 0.25s ease;
  opacity: 0;
  width: 0;
  color: $g11-sidewalk;

  &:hover {
    cursor: pointer;
    color: $g15-platinum;
  }
}

.cf-resource-editable-name:hover,
.cf-resource-editable-name--editing {
  .cf-resource-editable-name--toggle {
    opacity: 1;
    width: $cf-marg-b + $cf-marg-c;
  }
}

/*
  Edit Mode
  ------------------------------------------------------------------------------
*/

.cf-resource-editable-name__editing {
  .cf-resource-name--text,
  .cf-resource-name--text__link,
  .cf-resource-editable-name--toggle {
    display: none;
  }
}