@import "../../../Styles/modules.scss";

/*
  Resource Editable Description
  ------------------------------------------------------------------------------
*/

.resource-description {
  width: 100%;
  min-height: $form-xs-height;
}

.resource-description--preview,
.input.resource-description--input > input {
  font-size: $form-xs-font;
  font-weight: 500;
  font-family: $cf-text-font;
}

.resource-description--preview,
.resource-description--input {
  position: relative;
  width: 100%;
}

.resource-description--preview {
  padding-top: $cf-marg-a;
  width: auto;
  display: inline-block;
  border-radius: $cf-radius;
  position: relative;
  overflow: hidden;
  @include no-user-select();
  color: $g13-mist;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease;
  line-height: $form-xs-font + $cf-border;

  .cf-icon {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: $cf-marg-b;
    opacity: 0;
    transition: opacity 0.25s ease;
    color: $g11-sidewalk;
  }

  &:hover .cf-icon {
    opacity: 1;
  }

  &.untitled {
    color: $g9-mountain;
    font-style: italic;
  }

  .resource-description__editable &:hover {
    cursor: text;
    color: $g20-white;
  }
}

/* Ensure placeholder text matches font weight of title */
.input.resource-description--input > input {
  &::-webkit-input-placeholder {
    font-weight: 500 !important;
  }
  &::-moz-placeholder {
    font-weight: 500 !important;
  }
  &:-ms-input-placeholder {
    font-weight: 500 !important;
  }
  &:-moz-placeholder {
    font-weight: 500 !important;
  }
}
