@import "../../../Styles/variables.scss";

/*
  Editable Name for Resource Cards
  ------------------------------------------------------------------------------
*/

$resource-name-font-size: 17px;
$resource-name-font-weight: 600;

.cf-resource-name {
  height: $form-xs-height;
  position: relative;
  display: inline-flex;
  flex-wrap: nowrap;
}

.cf-resource-name--text {
  font-size: $resource-name-font-size;
  font-weight: $resource-name-font-weight;
  font-family: $cf-text-font;
  display: inline-block;
  white-space: nowrap;
  line-height: $form-xs-height;
  height: $form-xs-height;
  color: $g17-whisper;
  user-select: none;
}

.cf-resource-name--text__link {
  color: $cf-link-default;
  transition: color 0.25s ease;

  .cf-resource-card__disabled & {
    color: rgba($cf-link-default, 0.5);
  }

  &:hover {
    cursor: pointer;
    color: $cf-link-default-hover;
  }
}
