@import "../../../Styles/variables";

/*
  Resource Card
  ------------------------------------------------------------------------------
*/

.cf-resource-card {
  display: flex;
  width: 100%;
  position: relative;
  color: $cf-card-text--default;
  background-color: $cf-card-background--default;
  border-radius: $cf-radius;
  padding: $cf-marg-c;
  @extend %panel-shadow;
}

.cf-resource-card__highlight {
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    color: $cf-card-text--hover;
    background-color: $cf-card-background--hover;
  }
}

.cf-resource-card--context-menu {
  position: absolute;
  top: $cf-marg-b;
  right: $cf-marg-b;
}

/*
  Disabled Card
  ------------------------------------------------------------------------------
*/

.cf-resource-card.cf-resource-card__disabled,
.cf-resource-card.cf-resource-card__disabled:hover,
.cf-resource-card.cf-resource-card__disabled.cf-resource-card__highlight,
.cf-resource-card.cf-resource-card__disabled.cf-resource-card__highlight:hover {
  background-color: $cf-card-background--disabled;
  color: $cf-card-text--disabled;
  font-style: italic;
}

/*
  Context Menu Interactions
  ------------------------------------------------------------------------------
*/

.cf-resource-card__context-hover {
  .cf-resource-card--context-menu {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  &:hover .cf-resource-card--context-menu {
    opacity: 1;
  }
}
